



/* Animantion Name  |  Lateral Esquerda  |  Trabalhar junto ao infoDev */



    /* Name Span*/   
    .caixaDevStudent .name{
      font-size: 20px;
      letter-spacing: 5px;
      
      animation-name: namelight;
      animation-duration: 3s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-delay: 0.50s;
  }

  /*W */
  .caixaDevStudent .name span:nth-of-type(1){
      font-family: 'Stick No Bills', sans-serif;
      font-size: 30px;
      animation-delay: 0.50s;
        @keyframes namelight{
          0%{
            color: white;
            text-shadow: 
            0 0 12px rgb(28, 0, 128),
            0 0 50px rgb(0, 51, 128),
            0 0 100px rgb(128, 0, 21)
          }
          10%{text-shadow: none;}
          100%{text-shadow: none;}
        }
  }
  /* A */
  .caixaDevStudent .name span:nth-of-type(2){
    font-family: 'Literata', serif;
    animation-delay: 0.50s;
      @keyframes namelight{
        0%{
          color: white;
          text-shadow: 
          0 0 12px purple,
          0 0 50px purple,
          0 0 100px purple         
        }
        10%{text-shadow: none; }
        100%{text-shadow: none;}
      }
}


/* G */
.caixaDevStudent .name span:nth-of-type(3){
  font-family: 'Literata', serif;
  animation-delay: 0.50s;
    @keyframes namelight{
      0%{
        color: white;
        text-shadow: 
        0 0 12px purple,
        0 0 50px purple,
        0 0 100px purple
      }
      10%{text-shadow: none;}
      100%{text-shadow: none;}
    }
}
/* N */
.caixaDevStudent .name span:nth-of-type(4){
font-family: 'Literata', serif;
animation-delay: 0.50s;
  @keyframes namelight{
    0%{
      color: white;
      text-shadow: 
      0 0 12px purple,
      0 0 50px purple,
      0 0 100px purple
    }
    10%{text-shadow: none;font-family: none;}
    100%{text-shadow: none;}
  }
}
/* E */
.caixaDevStudent .name span:nth-of-type(5){
font-family: 'Literata', serif;
animation-delay: 0.50s;
  @keyframes namelight{
    0%{
      color: white;
      text-shadow: 
      0 0 12px purple,
      0 0 50px purple,
      0 0 100px purple
    }
    10%{text-shadow: none;}
    100%{text-shadow: none;}
  }
}
/* R */
.caixaDevStudent .name span:nth-of-type(6){
font-family: 'Stick No Bills', sans-serif;
font-size: 30px;
animation-delay: 0.50s;
  @keyframes namelight{
    0%{
      color: white;
      text-shadow: 
      0 0 12px purple,
      0 0 50px purple,
      0 0 100px purple
    }
    10%{text-shadow: none;}
    100%{text-shadow: none;}
  }
}