



/* Animation Cargo : Student | Lateral Esquerda | Trablhar junto ao infoDev  */


    /* Cargo Span*/
    
    .caixaDevStudent .cargo span:nth-of-type(1){
      font-family: 'Stick No Bills', sans-serif;
      font-size: 25px;
      animation-name: cargolight;
      animation-duration: 5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-delay: 0.25s; 
          @keyframes cargolight{
            0%{
              color: white;
              text-shadow: 
              0 0 12px purple,
              0 0 50px purple,
              0 0 100px purple
            }
            10%{text-shadow: none;
            }
            100%{text-shadow: none;}
          }
   }

   .caixaDevStudent .cargo span:nth-of-type(2){
    font-family: 'Literata', serif;
    animation-name: cargolight;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0.25s; 
        @keyframes cargolight{
          0%{
            color: white;
            text-shadow: 
            0 0 12px purple,
            0 0 50px purple,
            0 0 100px purple
          }
          10%{text-shadow: none;
          }
          100%{text-shadow: none;}
        }
  }

  .caixaDevStudent .cargo span:nth-of-type(3){
    font-family: 'Literata', serif;
    animation-name: cargolight;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0.25s; 
        @keyframes cargolight{
          0%{
            color: white;
            text-shadow: 
            0 0 12px purple,
            0 0 50px purple,
            0 0 100px purple
          }
          10%{text-shadow: none;
          }
          100%{text-shadow: none;}
        }
  }

  .caixaDevStudent .cargo span:nth-of-type(4){
    font-family: 'Literata', serif;
    animation-name: cargolight;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0.25s; 
        @keyframes cargolight{
          0%{
            color: white;
            text-shadow: 
            0 0 12px purple,
            0 0 50px purple,
            0 0 100px purple
          }
          10%{text-shadow: none;
          }
          100%{text-shadow: none;}
        }
  }

  .caixaDevStudent .cargo span:nth-of-type(5){
    font-family: 'Literata', serif;
    animation-name: cargolight;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0.25s; 
        @keyframes cargolight{
          0%{
            color: white;
            text-shadow: 
            0 0 12px purple,
            0 0 50px purple,
            0 0 100px purple
          }
          10%{text-shadow: none;
          }
          100%{text-shadow: none;}
        }
  }

  .caixaDevStudent .cargo span:nth-of-type(6){
    font-family: 'Literata', serif;
    animation-name: cargolight;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0.25s; 
        @keyframes cargolight{
          0%{
            color: white;
            text-shadow: 
            0 0 12px purple,
            0 0 50px purple,
            0 0 100px purple
          }
          10%{text-shadow: none;
          }
          100%{text-shadow: none;}
        }
  }

  .caixaDevStudent .cargo span:nth-of-type(7){
    font-family: 'Stick No Bills', sans-serif;
    font-size: 23px;
    animation-name: cargolight;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0.90s; 
        @keyframes cargolight{
          0%{
            color: white;
            text-shadow: 
            0 0 12px purple,
            0 0 50px purple,
            0 0 100px purple
          }
          10%{text-shadow: none;
          }
          100%{text-shadow: none;}
        }
  }