*{
  margin: 0;
  padding: 0;
  
}

body{
  margin: 0 15% 0 15%;
 
  box-shadow: 0 0 1000px purple;
  width: 70%;
  background-image:url("../img/developer_body_backg.jpg.png");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center; 
}
    

body:hover{
  background-color: black;
  opacity: 0.9;
  transition: 500ms;
}


html{
  font-weight: 700;
  color: white;
  height: 100%;
  text-shadow: 1px 1px 7px rgb(115, 211, 6);
}

