.index{
  width: 70px;
  height: 30px;
  color: orange;
  font-size: 28px;
  padding: 10px;
  text-decoration: none;
  padding: 5px;
  border: 1px solid green;
  border-radius: 10px;
  position: absolute;
  margin-left: 1200px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}




/*Caixa dos Conteúdos | My Tools | Cursos | Tools */

.caixaDeConteudos{
  position: absolute;
  display: grid;
  grid-auto-flow: row;
  width: 40%;
  height: 100vh;
  margin: 35px 0 0 26%;
  border-radius: 10px;
  background-color: red;
}


.caixaDeConteudos a{
  color: orange;
  text-decoration: none;
}
.caixaDeConteudos ul{
  color: lightskyblue;
  list-style-type: none;
}

.titulocontentMyTools{
  text-align: center;
}


.caixaDeConteudos .titulocontentMyTools{
  margin-left: 50%;
}

