



/* HEADER */


main{
  box-shadow: 0 0 300px 1px rgb(128, 126, 0); 
  animation-name: mainlight;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  @keyframes mainlight{
    0%  {box-shadow: 0 0 300px 1px rgb(0, 128, 128);};
    10% {box-shadow: 0 0 300px 1px rgb(0, 128, 128); };
    40% {box-shadow: 0 0 300px 1px rgb(0, 34, 128); };
    60% {box-shadow: 0 0 300px 1px rgb(0, 70, 128); };
    70% {box-shadow: 0 0 300px 1px rgb(0, 128, 107); };
    100%{box-shadow: 0 0 300px 1px rgb(0, 128, 128); };
  }
}

header{   
    height: 150px;
    width: 100%;
    margin: auto;
    background-color: #000;
    border-radius: 4px;
    padding: 010px 0.5rem 10px 0.5rem;
    box-sizing: border-box;
    animation-name: lightHeader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    transition: 1s;

  }

      @keyframes lightHeader{
        0%  {box-shadow: 0 0 20px 0 rgba(255, 255, 0, 0.493);}
        50% {box-shadow: 0 0 20px 0 rgba(255, 166, 0, 0.507);}
        100%{box-shadow: 0 0 20px 0 rgba(0, 0, 255, 0.527);}
      }


header .toolLogoImg{          /* Img Engrenagem */
    width: 70px;
    position: absolute;
    border-radius: 50%;
    animation-name: lightEng;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    transition: 500ms;
    margin-top: -20%;
    
  }
      @keyframes lightEng{
        0%  {margin-top: 2%; rotate:calc(340deg);border-radius: 50%;}
        5%  {margin-top: 2%; rotate:calc(330deg);}
        10% {margin-top: 3%; rotate:calc(340deg);}
        25% {margin-top: 3%; rotate:calc(343deg);}
        50% {margin-top: 3%; rotate:calc(345deg);}
        65% {margin-top: 3%; rotate:calc(380deg);}
        75% {margin-top: 3%;}
        80% {margin-top: 3%;}
        95% {margin-top: 3%;}
        100%{margin-top: 3%;rotate:calc(355deg);border-radius: 50%;}
      }
      


/* Spans */
header .spanMyMarg span{
  height: 10vh;
  font-size: 40px;
}

header .spanFullSMarg span{
  font-size: 30px;
}

header .spanToolsMarg span{
  font-size: 25px;
}

/* Div spanMyMarg |Div spanFullSMarg | Div spanToolsMarg*/

header .spanMyMarg{
    margin: 15px 0 0 15%; 
    font-family: 'Alfa Slab One', cursive;
    color: goldenrod;
    animation-name: spamy;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
  }     
       /* M */
       .spanMyMarg span:nth-of-type(1){
         color:rgb(234, 247, 162);
         text-shadow: 0 0 2px blue;
         padding: 0 5px 0 0;
         font-size: 50px;
         animation-delay: 0s;
         animation-name: spamy;
         animation-duration: 5s;
         animation-iteration-count: infinite;
         animation-timing-function: ease-in-out;
          @keyframes spamy {
            0%{
              color: #610a0a;
              text-shadow: 
              0 0 12px purple,
              0 0 50px purple,
              0 0 100px purple
            }
            10%{text-shadow: none;}
            100%{text-shadow: none;}
          }
        }

       /* Y */
       .spanMyMarg span:nth-of-type(2){
         text-shadow: 0 0 2px blue;
         animation-delay: 0.55s;

         @keyframes mylight{
          0%{
            color:#580707;
            text-shadow: 0 0 12px purple,
            0 0 50px purple,
            0 0 100px purple;
          }
          10%{text-shadow: none;}
          100%{text-shadow: none;}
         }
       
        }

/* Animação FullStack */
header .spanFullSMarg{
  display: flex;
  margin: -13px 0 0 25%;
  font-family: 'Alfa Slab One', cursive;
  font-weight: 700;
  color:gold;
  letter-spacing: 4px;
  animation-name: fullight;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}
      /* F */
      header .spanFullSMarg span:nth-of-type(1){
        color:rgb(234, 247, 162);
        text-shadow: 0 0 2px blue;
        padding: 0 5px 0 0;
        font-size: 50px;
        animation-delay: 0s;
        animation-name: spafulls;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        @keyframes spafulls {
          0%{
            color: #660e02;
            text-shadow: 
            0 0 12px purple,
            0 0 50px purple,
            0 0 100px purple
          }
          10% {text-shadow: none;}
          100%{text-shadow: none;}
        }
      }

      /* U */
      header .spanFullSMarg span:nth-of-type(2){
        text-shadow: 0 0 2px blue;
        animation-delay: 0.25s;
        animation-name: spafull;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        @keyframes spafull {
          0%{
            color: #580707;
            text-shadow: 
            0 0 12px purple,
            0 0 50px purple,
            0 0 100px purple
          }
          10% {text-shadow: none;}
          100%{text-shadow: none;}
        }
      }

      /* L */
      header .spanFullSMarg span:nth-of-type(3){
        text-shadow: 0 0 2px blue;
        animation-delay: 0.50s;
        animation-name: spafull;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        @keyframes spafull {
          0%{
            color: #580707;
            text-shadow: 
            0 0 12px purple,
            0 0 50px purple,
            0 0 100px purple
          }
          10%{text-shadow: none;}
          100%{text-shadow: none;}
        }
      }

      /* L */
      header .spanFullSMarg span:nth-of-type(4){
        text-shadow: 0 0 2px blue;
        animation-delay: 1s;
        animation-name: spafull;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        @keyframes spafull {
          0%{
            color: #580707;
            text-shadow: 
            0 0 12px purple,
            0 0 50px purple,
            0 0 100px purple
          }
          10% {text-shadow: none;}
          100%{text-shadow: none;}
        }
      }

      /* S */
      header .spanFullSMarg span:nth-of-type(5){
        text-shadow: 0 0 2px blue;
        animation-delay: 1.25s;
        animation-name: spafull;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        @keyframes spafull {
          0%{
            color: #580707;
            text-shadow: 
            0 0 12px purple,
            0 0 50px purple,
            0 0 100px purple
          }
          10%{text-shadow: none;}
          100%{text-shadow: none;}
        }
      }

      /* T */
      header .spanFullSMarg span:nth-of-type(6){
        text-shadow: 0 0 2px blue;
        animation-delay: 1.50s;
        animation-name: spafull;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        @keyframes spafull {
          0%{
            color: #580707;
            text-shadow: 
            0 0 12px purple,
            0 0 50px purple,
            0 0 100px purple
          }
          10%{text-shadow: none;}
          100%{text-shadow: none;}
        }
      }

      /* A */
      header .spanFullSMarg span:nth-of-type(7){
        text-shadow: 0 0 2px blue;
        animation-delay: 1.75s;
        animation-name: spafull;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        @keyframes spafull {
          0%{
            color: #580707;
            text-shadow: 
            0 0 12px purple,
            0 0 50px purple,
            0 0 100px purple
          }
          10%{text-shadow: none;}
          100%{text-shadow: none;}
        }
      }

      /* C */
      header .spanFullSMarg span:nth-of-type(8){
        text-shadow: 0 0 2px blue;
        animation-delay: 2s;
        animation-name: spafull;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        @keyframes spafull {
          0%{
            color: #580707;
            text-shadow: 
            0 0 12px purple,
            0 0 50px purple,
            0 0 100px purple
          }
          10%{text-shadow: none;}
          100%{text-shadow: none;}
        }
      }

      /* K */
      header .spanFullSMarg span:nth-of-type(9){
        text-shadow: 0 0 2px blue;
        animation-delay: 2.25s;
        animation-name: spafull;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        @keyframes spafull {
          0%{
            color: #580707;
            text-shadow: 
            0 0 12px purple,
            0 0 50px purple,
            0 0 100px purple
          }
          10%{text-shadow: none;}
          100%{text-shadow: none;}
        }
      }

/* IMG LAMPADA */
header .lampada{
  position: absolute;
  margin: -14px 0 0 23.3%;
  border-radius: 50%;
  width: 40px;
  rotate:calc(50deg) ;
  box-shadow: 0px 0px 30px 2px gold;
  animation-name: lamp;
  animation-duration: 2s;
  animation-iteration-count: infinite;
    @keyframes lamp{
      0%{box-shadow: 1px 0px 30px 2px gold;}
      50%{box-shadow:none;}
      60%{box-shadow: 0 4px 40px 2px gold;}
      70%{box-shadow: 4px 0px 30px 1px gold; }
      80%{animation-delay: 5ms;}
      100%{box-shadow: -1px -1px 30px 2px gold;}
    }
}

      header .lampada:hover{
        box-shadow: 0 0 30px 2px greenyellow;
        animation-name: lamp1;
        animation-duration: 0.1ms;
        animation-iteration-count: infinite;
          @keyframes lamp1{
            0%{box-shadow: -1px 0px 40px 2px gold;}
            13%{box-shadow: none;}
            100%{box-shadow: 0px -1px 40px 1px gold}
          }
      }


/* IMG ROSCA */
.imgRosca{
    position: absolute;
    width: 30px;
    margin-top: -157px;
    margin-left:61%;
    rotate: calc(340deg);
    animation-name: parafuso;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    transition: 500ms;


        @keyframes parafuso{
          0%  {rotate:calc(238deg);box-shadow: 0 0 10px purple;}
          5%  {rotate:calc(235deg);}
          10% {rotate:calc(246deg);}
          25% {rotate:calc(245deg);}
          50% {rotate:calc(245deg)}
          65% {rotate:calc(260deg);}
          100%{rotate:calc(255deg);}
        }
}

/* CAIXA STARS HEADER */
header .caixaImgToolsPCStars{
  position: absolute;  
  margin: -120px 0 0 16.8%;
  z-index: 1000;
}
    /* IMG STAR HEADER */
    header .ImgToolsPCStars{
      width: 50px;
      margin-left: -5px;
      margin-right: -8px;
      border-radius: 50%;
      animation-name: star1;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
      opacity: 0.9;
    }
        /* STAR 1 HEADER */
        header .ImgToolsPCStars:nth-of-type(1){
          animation-delay: 0.25s;
          @keyframes star1{
            0%{
              transform: rotateY(0deg);
              box-shadow:0 0px 100px rgb(128, 119, 0);
            }
            100%{
              transform: rotateY(360deg);
              box-shadow: none;
            }
          }
        }
        /* STAR 2 HEADER */
        header .ImgToolsPCStars:nth-of-type(2){
          
          @keyframes star1{
            0%{
              transform: rotateY(0deg);
              box-shadow:0 0px 100px rgb(255, 251, 0);
            }
            100%{
              transform: rotateY(360deg);
              box-shadow: none;
            }
          }
        }
        /* STAR 3 HEADER*/
        header .ImgToolsPCStars:nth-of-type(3){
          animation-delay: 0.75s;
          @keyframes star1{
            0%{
              transform: rotateY(0deg);
              box-shadow:0 0px 100px rgb(1, 253, 127);
            }
            100%{
              transform: rotateY(360deg);
              box-shadow: none;
            }
          }
        }
        /* STAR 4 HEADER*/
        header .ImgToolsPCStars:nth-of-type(4){
          animation-delay: 1s;
          @keyframes star1{
            0%{
              transform: rotateY(0deg);
              box-shadow:0 0px 100px rgb(47, 128, 0);
            }
            100%{
              transform: rotateY(360deg);
              box-shadow: none;
            }
          }
        }
        /* STAR 5 HEADER */
        header .ImgToolsPCStars:nth-of-type(5){
          animation-delay: 1.25s;
          @keyframes star1{
            0%{
              transform: rotateY(0deg);
              box-shadow:0 0px 100px rgb(105, 128, 0);
            }
            100%{
              transform: rotateY(360deg);
              box-shadow: none;
            }
          }
        }


header .spanToolsMarg {
      margin: 0px 0 0 60%;
      position: absolute;
      color: rgb(21, 92, 245);
      text-shadow: 0 0 10px blue;
      font-family: 'Patua One', cursive;
      letter-spacing: 2px;
      animation-name: toolight;
      animation-duration: 7s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;

          header .spanToolsMarg span:nth-of-type(2){
            animation-delay: 0.25s;
            text-shadow: 0 0 10px blue;          
          }
          header .spanToolsMarg span:nth-of-type(3){
            animation-delay: 0.50s;
            text-shadow: 0 0 10px blue;
          }
        
          header .spanToolsMarg span:nth-of-type(4){
            animation-delay: 0.75s;
            text-shadow: 0 0 10px blue;
          }
        
          header .spanToolsMarg span:nth-of-type(5){
            animation-delay: 1s;
            text-shadow: 0 0 10px blue;
          }
        
          header .spanToolsMarg span:nth-of-type(6){
            animation-delay: 1.25s;
            text-shadow: 0 0 10px blue;
          }
        
        
          @keyframes toolight{
            0%{
              color: rgb(240, 198, 63);
              text-shadow: 
              0 0 12px purple,
              0 0 50px purple,
              0 0 100px purple;
              rotate:calc(0deg);
            }
            20%{
              text-shadow: none;
              text-shadow: none;
              rotate:calc(20deg);
            }
            40%{
              rotate:calc(-10deg);
            }
            60%{
              rotate:calc(25deg);
            }
            80%{
              rotate:calc(10deg);
            }
            100%{
              rotate:calc(0deg);
            }
          }
  }


  /* Lista Redes Sociais*/
  header ul {
    list-style-type: none;
    position: absolute;   
    margin-top: -120px;
    margin-left: 57%;
    margin: -120px 0 0 57%;
    padding: 0;
        
        li {
          font-size: 22px;
          padding: 10px;
          letter-spacing: 5px;
          margin-bottom: 15px;
          width: 560%;    
        }
        a:hover{
          color: orange;
          transition: 600ms;        
        }    
        color: white;
        animation-name: redesociais;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        @keyframes redesociais{
            0%{
            text-shadow: 0 0 12px purple,
            0 0 50px purple,
            0 0 100px purple
            }
            100%{
              text-shadow:none;
            }
        }
  }
  
  /* | HEADER | REDES SOCIAIS | */
  
  header ul li a{
    font-family: 'Amaranth', sans-serif;
    text-decoration: none;
    color: white;    
    margin-left: 100%;  
  }   


  /* GITHUB */
  a.tooltip:hover span.github {
    background-image: url("../img/github.png");
    background-position: center center;
    background-size: contain; /* <------ */
    background-repeat: no-repeat;

    border: 2px solid #fff;
    border-radius: 50%;
    color: #eee;
    display: inline;
    position: absolute;
    margin-top: 1x;
    margin-left: 0px;

    animation-name: girarsocialmediaheader;
    animation-duration: 7s;
    animation-iteration-count: infinite;

    
  }
  /* Netlify*/
  a.tooltip:hover span.netlify {
    background-image: url("../img/netlify.png");
    background-position: center center;
    background-size: contain; /* <------ */
    background-repeat: no-repeat;

    border: 2px solid #fff;
    border-radius: 50%;
    color: #eee;
    display: inline;
    position: absolute;
    margin-top: 7x;
    margin-left: 10px;

    animation-name: girarsocialmediaheader;
    animation-duration: 7s;
    animation-iteration-count: infinite;
  }
  /* Linkedin */
  a.tooltip:hover span.linkedin {
    background-image: url("../img/linkedin.png");
    background-position: center center;
    background-size: contain; /* <------ */
    background-repeat: no-repeat;

    border: 2px solid #fff;
    border-radius: 50%;
    color: #eee;
    display: inline;
    position: absolute;
    rotate:calc(0deg) ;
    margin-top: -2px;
    margin-left: 100px;

    animation-name: girarsocialmediaheader;
    animation-duration: 7s;
    animation-iteration-count: infinite;
  }

  @keyframes girarsocialmediaheader {
    0%{rotate:  calc(60deg);  margin-left:5%;  box-shadow: 0 0 50px rgb(255, 0, 255); border: 1px solid purple; }
    1%{rotate:  calc(55deg);  margin-left:10%; box-shadow: 0 0 50px rgb(212, 0, 255);}
    2%{rotate:  calc(50deg);  margin-left:15%; box-shadow: 0 0 50px rgb(162, 0, 255);}
    3%{rotate:  calc(45deg);  margin-left:20%; box-shadow: 0 0 50px rgb(119, 0, 255);}
    4%{rotate:  calc(40deg);  margin-left:25%; box-shadow: 0 0 50px rgb(89, 0, 255);}
    5%{rotate:  calc(35deg);  margin-left:30%; box-shadow: 0 0 50px rgb(89, 0, 255);}
    6%{rotate:  calc(30deg);  margin-left:35%; box-shadow: 0 0 50px rgb(55, 0, 255);}
    7%{rotate:  calc(25deg);  margin-left:40%; box-shadow: 0 0 50px rgb(17, 0, 255);}
    8%{rotate:  calc(20deg);  margin-left:45%; box-shadow: 0 0 50px rgb(0, 17, 255);}
    9%{rotate:  calc(15deg);  margin-left:50%; box-shadow: 0 0 50px rgb(0, 38, 255);  border: 1px solid rgba(0, 0, 0, 0.377)}
    10%{rotate: calc(10deg);  margin-left:55%; box-shadow: 0 0 50px rgb(0, 81, 255);}
    11%{rotate: calc(5deg);   margin-left:60%; box-shadow: 0 0 50px rgb(0, 119, 255);}
    12%{rotate: calc(0deg);   margin-left:65%; box-shadow: 0 0 50px rgb(0, 132, 255);}
    13%{rotate: calc(-5deg);  margin-left:70%; box-shadow: 0 0 50px rgb(0, 153, 255);}
    14%{rotate: calc(-10deg); margin-left:75%; box-shadow: 0 0 50px rgb(0, 195, 255);}
    15%{rotate: calc(-15deg); margin-left:80%; box-shadow: 0 0 50px rgb(0, 247, 255);}
    16%{rotate: calc(-20deg); margin-left:85%; box-shadow: 0 0 50px rgb(0, 255, 234);}
    17%{rotate: calc(-25deg); margin-left:90%; box-shadow: 0 0 50px rgb(0, 255, 179);}
    18%{rotate: calc(-30deg); margin-left:95%; box-shadow: 0 0 50px rgb(0, 255, 149);}
    19%{rotate: calc(-35deg); margin-left:100%;box-shadow: 0 0 50px rgb(0, 255, 128);  border: 1px solid rgba(0, 174, 255, 0.486)}
    20%{rotate: calc(-40deg); margin-left:95%; box-shadow: 0 0 50px rgb(0, 255, 85);}
    21%{rotate: calc(-45deg); margin-left:90%; box-shadow: 0 0 50px rgb(0, 255, 42);}
    22%{rotate: calc(-50deg); margin-left:85%; box-shadow: 0 0 50px rgb(9, 255, 0);}
    23%{rotate: calc(-55deg); margin-left:80%; box-shadow: 0 0 50px rgb(60, 255, 0);}
    24%{rotate: calc(-60deg); margin-left:75%; box-shadow: 0 0 50px rgb(123, 255, 0);}
    25%{rotate: calc(-55deg); margin-left:70%; box-shadow: 0 0 50px rgb(217, 255, 0);}
    26%{rotate: calc(-50deg); margin-left:65%; box-shadow: 0 0 50px rgb(255, 208, 0);}
    27%{rotate: calc(-45deg); margin-left:60%; box-shadow: 0 0 50px rgb(255, 174, 0);}
    28%{rotate: calc(-40deg); margin-left:55%; box-shadow: 0 0 50px rgb(255, 123, 0);}
    29%{rotate: calc(-35deg); margin-left:50%; box-shadow: 0 0 50px rgb(255, 102, 0);  border: 1px solid rgba(255, 231, 14, 0.493)}
    30%{rotate: calc(-30deg); margin-left:45%; box-shadow: 0 0 50px rgb(255, 72, 0);}
    31%{rotate: calc(-25deg); margin-left:40%; box-shadow: 0 0 50px rgb(255, 38, 0);}
    32%{rotate: calc(-20deg); margin-left:35%; box-shadow: 0 0 50px rgb(255, 0, 0);}
    33%{rotate: calc(-15deg); margin-left:30%; box-shadow: 0 0 50px rgb(255, 38, 0);}
    34%{rotate: calc(-10deg); margin-left:25%; box-shadow: 0 0 50px rgb(255, 72, 0);}
    35%{rotate: calc(-5deg);  margin-left:20%; box-shadow: 0 0 50px rgb(255, 102, 0);}
    36%{rotate: calc(0deg);   margin-left:15%; box-shadow: 0 0 50px rgb(255, 123, 0);}
    37%{rotate: calc(5deg);   margin-left:10%; box-shadow: 0 0 50px rgb(255, 174, 0);}
    38%{rotate: calc(10deg);  margin-left:5%;  box-shadow: 0 0 50px rgb(255, 208, 0);}
    39%{rotate: calc(15deg);  margin-left:0%;  box-shadow: 0 0 50px rgb(217, 255, 0);  border: 1px solid rgba(43, 255, 1, 0.685)}
    40%{rotate: calc(20deg);  margin-left:5%;  box-shadow: 0 0 50px rgb(123, 255, 0);}
    41%{rotate: calc(25deg);  margin-left:10%; box-shadow: 0 0 50px rgb(60, 255, 0);}
    42%{rotate: calc(30deg);  margin-left:15%; box-shadow: 0 0 50px rgb(9, 255, 0);}
    43%{rotate: calc(35deg);  margin-left:20%; box-shadow: 0 0 50px rgb(0, 255, 42);}
    44%{rotate: calc(40deg);  margin-left:25%; box-shadow: 0 0 50px rgb(0, 255, 85);}
    45%{rotate: calc(45deg);  margin-left:30%; box-shadow: 0 0 50px rgb(0, 255, 128);}
    46%{rotate: calc(50deg);  margin-left:35%; box-shadow: 0 0 50px rgb(0, 255, 149);}
    47%{rotate: calc(55deg);  margin-left:40%; box-shadow: 0 0 50px rgb(0, 255, 179);}
    48%{rotate: calc(60deg);  margin-left:45%; box-shadow: 0 0 50px rgb(0, 255, 234);}
    49%{rotate: calc(55deg);  margin-left:50%;;box-shadow: 0 0 50px rgb(23, 211, 218);  border: solid rgba(221, 160, 221, 0.5);}
    50%{rotate: calc(50deg);  margin-left:55%; box-shadow: 0 0 50px rgb(0, 247, 255);}
    51%{rotate: calc(45deg);  margin-left:60%; box-shadow: 0 0 50px rgb(0, 195, 255);}
    52%{rotate: calc(40deg);  margin-left:65%; box-shadow: 0 0 50px rgb(0, 153, 255);}
    53%{rotate: calc(35deg);  margin-left:70%; box-shadow: 0 0 50px rgb(0, 132, 255);}
    54%{rotate: calc(30deg);  margin-left:75%; box-shadow: 0 0 50px rgb(0, 119, 255);}
    55%{rotate: calc(25deg);  margin-left:80%; box-shadow: 0 0 50px rgb(0, 81, 255);}
    56%{rotate: calc(20deg);  margin-left:85%; box-shadow: 0 0 50px rgb(31, 58, 211);}
    57%{rotate: calc(15deg);  margin-left:90%; box-shadow: 0 0 50px rgb(0, 38, 255);}
    58%{rotate: calc(10deg);  margin-left:95%; box-shadow: 0 0 50px rgb(0, 17, 255);}
    59%{rotate: calc(5deg);   margin-left:100%;box-shadow: 0 0 50px rgb(29, 42, 226);  border: solid rgb(25, 25, 112);}
    60%{rotate:calc(0deg);    margin-left:95;  box-shadow: 0 0 50px rgb(55, 0, 255);}
    61%{rotate: calc(-5deg);  margin-left:91%; box-shadow: 0 0 50px rgb(89, 0, 255);}
    62%{rotate: calc(-10deg); margin-left:86%; box-shadow: 0 0 50px rgb(119, 0, 255);}
    63%{rotate: calc(-15deg); margin-left:80%; box-shadow: 0 0 50px rgb(162, 0, 255);}
    64%{rotate: calc(-20deg); margin-left:75%; box-shadow: 0 0 50px rgb(174, 0, 255);}
    65%{rotate: calc(-25deg); margin-left:70%; box-shadow: 0 0 50px rgb(212, 0, 255);}
    66%{rotate: calc(-30deg); margin-left:65%; box-shadow: 0 0 50px rgb(255, 0, 255);}
    67%{rotate: calc(-35deg); margin-left:60%; box-shadow: 0 0 50px rgb(212, 0, 255);}
    68%{rotate: calc(-40deg); margin-left:55%; box-shadow: 0 0 50px rgb(174, 0, 255);}
    69%{rotate: calc(-45deg); margin-left:50%; box-shadow: 0 0 50px rgb(162, 0, 255);}
    70%{rotate: calc(-50deg); margin-left:45%; box-shadow: 0 0 50px rgb(119, 0, 255);}
    71%{rotate: calc(-55deg); margin-left:40%; box-shadow: 0 0 50px rgb(89, 0, 255);}
    72%{rotate: calc(-60deg); margin-left:35%; box-shadow: 0 0 50px rgb(55, 0, 255);}
    73%{rotate: calc(-55deg); margin-left:30%; box-shadow: 0 0 50px rgb(0, 17, 255);}
    74%{rotate: calc(-50deg); margin-left:25%; box-shadow: 0 0 50px rgb(29, 42, 226);}
    75%{rotate: calc(-45deg); margin-left:20%; box-shadow: 0 0 50px rgb(0, 38, 255);}
    76%{rotate: calc(-40deg); margin-left:15%; box-shadow: 0 0 50px rgb(31, 58, 211);}
    77%{rotate: calc(-35deg); margin-left:10%; box-shadow: 0 0 50px rgb(0, 81, 255);}
    78%{rotate: calc(-30deg); margin-left:5%;  box-shadow: 0 0 50px rgb(0, 119, 255);}
    79%{rotate: calc(-25deg); margin-left:0%;  box-shadow: 0 0 50px rgb(0, 132, 255);  border: 1px solid rgba(128, 0, 128, 0.493);}
    80%{rotate: calc(-20deg); margin-left:-4;  box-shadow: 0 0 50px rgb(0, 153, 255);}
    81%{rotate: calc(-15deg); margin-left:-6%; box-shadow: 0 0 50px rgb(0, 195, 255);}
    82%{rotate: calc(-10deg); margin-left:-9%; box-shadow: 0 0 50px rgb(0, 247, 255);}
    83%{rotate: calc(-15deg); margin-left:-10%;box-shadow: 0 0 50px rgb(23, 211, 218);}
    84%{rotate: calc(-20deg); margin-left:-9%; box-shadow: 0 0 50px rgb(0, 255, 234);}
    85%{rotate: calc(-25deg); margin-left:-8%; box-shadow: 0 0 50px rgb(0, 255, 179);}
    86%{rotate: calc(-20deg); margin-left:-7%; box-shadow: 0 0 50px rgb(0, 255, 149);}
    87%{rotate: calc(-15deg); margin-left:-10%;box-shadow: 0 0 50px rgb(0, 255, 128);}
    88%{rotate: calc(-10deg); margin-left:-16%;box-shadow: 0 0 50px rgb(0, 255, 85);}
    89%{rotate: calc(-5deg);  margin-left:-15%;box-shadow: 0 0 50px rgb(0, 255, 42);}
    90%{rotate: calc(0deg);   margin-left:-14%;box-shadow: 0 0 50px rgb(9, 255, 0);}
    91%{rotate: calc(5deg);   margin-left:-13%;box-shadow: 0 0 50px rgb(60, 255, 0);}
    92%{rotate: calc(10deg);  margin-left:-12%;box-shadow: 0 0 50px rgb(123, 255, 0);}
    93%{rotate: calc(15deg);  margin-left:-11%;box-shadow: 0 0 50px rgb(217, 255, 0);}
    94%{rotate: calc(20deg);  margin-left:-10%;box-shadow: 0 0 50px rgb(255, 208, 0);}
    95%{rotate: calc(25deg);  margin-left:-8%; box-shadow: 0 0 50px rgb(255, 174, 0);}
    96%{rotate: calc(30deg);  margin-left:-6%; box-shadow: 0 0 50px rgb(255, 123, 0);}
    97%{rotate: calc(40deg);  margin-left:-5%; box-shadow: 0 0 50px rgb(255, 102, 0);}
    98%{rotate: calc(45deg);  margin-left:-3%; box-shadow: 0 0 50px rgb(255, 72, 0);}
    99%{rotate: calc(55deg);  margin-left:-2%; box-shadow: 0 0 50px rgb(255, 38, 0);}
    100%{rotate:calc(60deg);  margin-left:-1%; box-shadow: 0 0 50px rgb(212, 0, 255);}
    
  }
  
  a.tooltip {
    outline: none;
  }
  
  a.tooltip strong {
    line-height: 30px;
  }
  
  a.tooltip:hover {
    text-decoration: none;
  }
  
  a.tooltip span {
    border-radius: 2px;
    box-shadow: 0px 0px 8px 4px #666;
    display: none;
    margin-left: 80px;
    padding: 5px 5px;
    width: 50px;
    height: 50px;
    z-index: 10;
  }
  
  .callout {
    border: 0;
    left: 120px;
    position: absolute;
    top: -14px;
    z-index: 20;
  }


  @media only screen and (min-width: 1278px) and (max-width: 1338.40px){
    header .lampada{
      position: absolute;
      margin: -14px 0 0 23.7%;
      width: 40px;
      rotate:calc(50deg) ;
    }
  }

/* LAMPADA MEDIA SCREEN */
@media only screen and (min-width: 1278px) and (max-width: 1338.40px){
  header .lampada{
    position: absolute;
    margin: -14px 0 0 23.8%;
    width: 40px;
    rotate:calc(50deg) ;
  }
}
        /* LAMPADA MEDIA SCREEN */
        @media only screen and (min-width: 1114px) and (max-width: 1277px){
          header .lampada{
            position: absolute;
            margin: -14px 0 0 24.4%;
            width: 40px;
            rotate:calc(50deg) ;
          }
          .imgRosca{
            margin-left: 61%;
          }
          header ul{
            margin-top: -112px;
            margin-left: 56%;
            color: black; 
          }
          header .imgDoDesenvolvedor{
            position: absolute;
            width: 90px;
            height: 90px;
            margin-top: -133px;
            margin-left: 49%;
            border-radius: 50%;
          }
        }
        /* LAMPADA MEDIA SCREEN */
        @media only screen and (min-width: 1020px) and (max-width: 1113.9px){
          header .lampada{
            position: absolute;
            margin: -14px 0 0 24.8%;
            width: 40px;
            rotate:calc(50deg) ;
          }
          .imgRosca{
            margin-left: 61%;
          }
          header ul{
            margin-top: -112px;
            margin-left: 54.5%;
            color: black; 
          } 
        }
        /* LAMPADA MEDIA SCREEN */
        @media only screen and (min-width: 1000px) and (max-width: 1019.9px){
          header .lampada{
            position: absolute;
            margin: -14px 0 0 24.8%;
            width: 40px;
            rotate:calc(50deg) ;
          }
          .imgRosca{
            margin-left: 61%;
          }
          header ul{
            margin-top: -112px;
            margin-left: 54.5%;
            color: black; 
          }
        }
         /* LAMPADA MEDIA SCREEN */
         @media only screen and (min-width: 923px) and (max-width: 999.9px){
          header .lampada{
            position: absolute;
            margin: -15px 0 0 25.4%;
            width: 40px;
            rotate:calc(50deg) ;
          }
          .imgRosca{
            margin-left: 61%;
          }
          header ul{
            margin-top: -112px;
            margin-left: 54%;
            color: black; 
          } 
          header .imgDoDesenvolvedor{
            position: absolute;
            width: 100px;
            height: 100px;
            margin-top: 100px;
            margin-left: 47%;
            border-radius: 50%;
          }
        }
        @media only screen and (min-width: 898.8px) and (max-width: 923.9px){
          header .lampada{
            position: absolute;
            margin: -15px 0 0 25.4%;
            width: 40px;
            rotate:calc(50deg) ;
          }
          .imgRosca{
            margin-left: 61%;
          }
          header ul{
            margin-top: -112px;
            margin-left: 53%;
            color: black; 
          } 
        }
        @media only screen and (min-width: 885px) and (max-width: 898.7px){
          header .lampada{
            position: absolute;
            margin: -15px 0 0 25.4%;
            width: 40px;
            rotate:calc(50deg) ;
          }
          .imgRosca{
            margin-left: 58%;
          }
          header ul{
            margin-top: -112px;
            margin-left: 52%;
            color: black; 
          } 
        }
        @media only screen and (min-width: 813px) and (max-width: 884.9px){
          header .lampada{
            position: absolute;
            margin: -15px 0 0 25.9%;
            width: 40px;
            rotate:calc(50deg) ;
          }
          .imgRosca{
            margin-left: 58%;
          }
          header ul{
            margin-top: -112px;
            margin-left: 51%;
            color: black; 
          } 
        }
        @media only screen and (min-width: 754px) and (max-width: 812.9px){
          header .lampada{
            position: absolute;
            margin: -15px 0 0 26.1%;
            width: 40px;
            rotate:calc(50deg) ;
          }
          .imgRosca{
            margin-left: 58%;
          }
          header ul{
            margin-top: -112px;
            margin-left: 49%;
            color: black; 
          }
          
        }

         

        @media only screen and (min-width: 660px) and (max-width: 753.6px){
          header .lampada{
            position: absolute;
            margin: -15px 0 0 27.2%;
            width: 40px;
            rotate:calc(50deg) ;
          }        
          header ul{
            margin-top: -100px;
            color: black;         
          } 
          .imgRosca{
            margin-left: 60%;
          }
          header ul{
            margin-top: -112px;
            margin-left: 48%;
            color: black; 
          } 
          
        }
        @media only screen and (min-width: 570px) and (max-width: 659.9px){
          header .lampada{
            position: absolute;
            margin: -15px 0 0 28.4%;
            width: 40px;
            rotate:calc(50deg) ;
          }
          header ul{
            margin-left: 65%;
          } 
        }
        @media only screen and (min-width: 558px) and (max-width: 570.8px){
          header .lampada{
            position: absolute;
            margin: -15px 0 0 28.6%;
            width: 40px;
            rotate:calc(50deg) ;
          }
          header ul{
            margin-top: -112px;
            color: black;
            margin-left: 63%;
          } 
        }
        @media only screen and (min-width: 500px) and (max-width: 558.9px){
          header .lampada{
            position: absolute;
            margin: -15px 0 0 29.7%;
            width: 40px;
            rotate:calc(50deg) ;
          }
          header ul{
            margin-top: -112px;
            color: black;
            margin-left: 63%;
          } 
        }
        @media only screen and (min-width: 451px) and (max-width: 499.9px){
          header .lampada{
            position: absolute;
            margin: -15px 0 0 30.8%;
            width: 40px;
            rotate:calc(50deg) ;
          }
          header ul{
            margin-top: -112px;
            color: black;
            margin-left: 65%;
          } 
          header ul li{
            font-size: 15px;
          }
        }
        @media only screen and (min-width: 0px) and (max-width: 450.9px){
          header .lampada{
            display: none;
            position: absolute;
            margin: -15px 0 0 30.8%;
            width: 40px;
            rotate:calc(50deg) ;
          }
          header ul{
            margin-top: -90px;
            color: black;
            margin-left: 75%;
          } 
          header ul li{
            font-size: 11px;
            font-weight: 700;
            padding: 12px;
          }
          
        }


/* MEDIA SCREEN */
@media only screen and (min-width: 450px) and (max-width: 720.40px){
  body{
    margin-left: 5%;
    margin-right: 5%;
  }
  .imgRosca{
    margin-left: 75%;
  }
  header ul{
    margin-top: -100px;
    margin-left: 65%;
    color: black; 
  } 

  header{
    height: 200;
    width: 100%;
    margin: auto;
    background-color: #000;
    border-radius: 0.625rem;
    padding: 0.625rem 0.5rem 0.125 0.5rem;
  }

  header .spanMyMarg{
    margin: 0 0 0 20%; 
  }
  
  header .spanFullSMarg{
    margin: -1px 0 0 25%;
  }

  header .spanToolsMarg{
    margin: 0 0 0 43%;
  }
}



/* MEDIA SCREEN */
@media only screen and (min-width: 0px) and (max-width: 450px){
  body{
    margin-left: 5%;
    margin-right: 5%;
  }

  .imgRosca{
    display: none;
  }


  header{
    font-size: 18px;
    height: 120px;
    width: 100%;
    background-color: black;
    color: white;
    box-shadow: 0 0 20px 0 purple;
    animation-name: lightHeader;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    transition: 1s;
  }

      @keyframes lightHeader{
        0%{
          box-shadow: 0 0 20px 0 yellow;
          rotate:calc(340deg);
        }
        50%{
          box-shadow: 0 0 20px 0 orange;
          rotate:calc(345deg);
        }
        100%{
          box-shadow: 0 0 20px 0 blue;
          rotate:calc(355deg);
        }
      }
  /* HEADER IMAGEM ENGRENAGEM */
  header .toolLogoImg{
    position: absolute;
    animation-name: lightEng;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    transition: 1s;
    margin-top: 10%;
    
  }
      @keyframes lightEng{
        0%{
          rotate:calc(340deg);
          border-radius: 50%;
          margin-top: 10%;
          transition: 1s;
        }
        5%{
          margin-top: 11%;
          rotate:calc(330deg);
        }
        10%{
          margin-top: 10%;
          rotate:calc(340deg);
        }
        25%{
          margin-top: 11%;
          rotate:calc(343deg);
        }
        50%{     
          rotate:calc(345deg);
          margin-top: 10%;
          transition: 1s;
        }
        60%{     
          rotate:calc(345deg);
          margin-top: 11%;
          transition: 1s;
        }
        65%{
          margin-top: 12%;
          rotate:calc(380deg);
        }
        70%{
          margin-top: 12%;
        }
        72%{
          margin-top: 13%;
        }
        75%{
          margin-top: 14%;
          }
        100%{  
          rotate:calc(355deg);
          border-radius: 50%;
          margin-top: 5%;
          transition: 1s;
          margin-top: 15%;
        }
      }

  header .spanMyMarg{
    text-align: center;
    margin: 0;
  }

  header .spanFullSMarg{
    margin: -1px 0 0 28%;
  }

  header .spanToolsMarg{
     text-align: center;
     margin: 0 ;
  }
}

/*ANIMAÇÃO TOOLS */
header .spanToolsMarg {
  margin: 0 0 0 20%;
  color: rgb(21, 92, 245);
  text-shadow: 0 0 10px blue;
  font-family: vampireWars;
  letter-spacing: 2px;
  animation-name: toolight;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

      header .spanToolsMarg span:nth-of-type(2){
        animation-delay: 0.25s;
        text-shadow: 0 0 10px blue;          
      }
      header .spanToolsMarg span:nth-of-type(3){
        animation-delay: 0.50s;
        text-shadow: 0 0 10px blue;
      }
    
      header .spanToolsMarg span:nth-of-type(4){
        animation-delay: 0.75s;
        text-shadow: 0 0 10px blue;
      }
    
      header .spanToolsMarg span:nth-of-type(5){
        animation-delay: 1s;
        text-shadow: 0 0 10px blue;
      }
    
      header .spanToolsMarg span:nth-of-type(6){
        animation-delay: 1.25s;
        text-shadow: 0 0 10px blue;
      }    
    
      @keyframes toolight{
        0%{
          color: rgb(240, 198, 63);
          text-shadow: 
          0 0 12px purple,
          0 0 50px purple,
          0 0 100px purple;
          rotate:calc(0deg);
        }
        20%{
          text-shadow: none;
          text-shadow: none;
          rotate:calc(20deg);
        }
        40%{
          rotate:calc(-10deg);
        }
        60%{
          rotate:calc(25deg);
        }
        80%{
          rotate:calc(10deg);
        }
        100%{
          rotate:calc(0deg);
        }
      }
}

@media only screen and (min-width: 0px) and (max-width: 1115px){
  header .imgDoDesenvolvedor{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: 57%;
    border-radius: 50%;
  }
}

@media only screen and (min-width: 0px) and (max-width:720px){
  header .imgDoDesenvolvedor{
    position: absolute;
    width: 88px;
    height: 88px;
    margin-top: 100px;
    margin-left: 73%;
    border-radius: 50%;
  }
}

@media only screen and (min-width: 0px) and (max-width:720px){
  header .imgDoDesenvolvedor{
    position: absolute;
    width: 85px;
    height: 85px;
    margin-top: 100px;
    margin-left: 69%;
    border-radius: 50%;
  }
}