



/* Section  | Toda a Caixa Lateral Esquerda   |  Informações do Desenvolvedor */



    .caixaDevStudent{
      position: absolute;
      display: inline-block;  

      max-width:14%;
      height: 1800px;
      margin: 50px 0 0 0;
      padding: 15px 20px 20px 20px;

      text-align: center;
      letter-spacing: 3px;
      line-height: 28px;

      border-radius: 10px;
      border: 1px solid rgba(255, 167, 4, 0.212);

      background-color:rgba(0, 0, 0, 0.925);    /*Roxo legal rgba(44, 13, 182, 0.418);  */ 
      box-shadow: 0 0 100px 0  #fff;

      animation-name: borderCaixaStudent;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-direction: alternate;

      z-index: -100;

    }
        @keyframes borderCaixaStudent{
          0%  {box-shadow: 0 0 30px 0  #d33108;}
          10% {box-shadow: 0 0 10px 0  #d33108;}
          30% {box-shadow: 0 0 40px 0  #ff4800;}
          40% {box-shadow: 0 0 10px 0  #ff950a;}
          50% {box-shadow: 0 0 40px 0  #d81d08;} 
          60% {box-shadow: 0 0 10px 0  #d33108;} 
          70% {box-shadow: 0 0 40px 0  #ff950a;}
          90% {box-shadow: 0 0 10px 0  #d33108;}
          100%{box-shadow: 0 0 30px 0  #eb4a00;}
        }
    
         

    /* IMG Desenvolvedor*/
   .imgDoDesenvolvedor{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  /* Caixa da imagem do Desenvolvedor */
  .caixaImg{
    position: relative;
    background-image: url(../img/luff_perfil.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height:150px;
    margin-left: 20%;
    margin-top: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    

  /* Moldura de Ouro na Img do Dev Student */
  .molduraOuroDevStudent{
    margin: -2px 0 0 0;
    width: 152%;
    z-index: 1000;
    animation-timing-function: ease-in-out;
    animation: animarbordamoldura 30s linear infinite;
    transition: 1s;
  }
      @keyframes  animarbordamoldura{
        0%  {rotate: calc(0deg);    transition: 1s; transform: scale(1);}
        35% {rotate: calc(180deg);  transition: 1s;}
        50% {rotate: calc(360deg);  transition: 1s; transform: scale(1.2);}
        70% {rotate: calc(0deg);    transition: 1s;}
        85% {rotate: calc(-180deg); transition: 1s; transform: scale(1);}
        100%{rotate: calc(0deg);    transition: 1s;}
      }
                  
     
  /* Animação Borda da foto do Desenvolvedor */
  .caixaImg::before, .caixaImg::after{
    content:'';
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background: linear-gradient(45deg,gold,#ffa600,
    goldenrod,rgb(255, 17, 0),rgb(255, 136, 0),rgb(255, 196, 0),#ffa600,
    #bbff00,goldenrod,rgb(229, 255, 0)
    ,rgb(218, 116, 32),rgb(255, 0, 21));
    background-size: 300%;
    animation: animarborda 4s linear alternate infinite;
  }

      @keyframes  animarborda{
        0%{background-position: 0;}
        100%{background-position: 300%;}
      }

      .caixaImg::after{
        filter: blur(50px);
      }
    
       /*
       O código especifico e animações de:
       DEV | STUDENT | NAME

       Estão em arquivos separados para não ficar muito
       extenso o cód
       */
    
    /* Dev */
    .caixaDevStudent .dev{
      display: flex;
      justify-content: center;
      
    }
    
    /* Cargo : Student */
    .caixaDevStudent .cargo{
      display: flex;
      justify-content: center;
      align-items: center;    
    }

    /* Name */  
    .caixaDevStudent .name{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* Div pais ---> I Love (Img Copo Café) Coffe */
    .caixaILoveCoffeImgCopo{
      display: grid;
      grid-auto-flow: column;
      justify-content: center;
      align-items: center;
    }

          /* Div com Spans ---> I Love */
          .caixaSpansIlove{
            font-size: 15px;
            font-family: 'Dancing Script', cursive;

            display: flex;
            justify-content: center;
            align-items: center;

            margin-top: 35px;
            margin-right: 5px;
          
          }
         
              /* I */
              .caixaSpansIlove span:nth-of-type(1){
                margin-right: 5px;
                animation-name: ilove;
                animation-iteration-count: infinite;
                animation-duration: 3s;
                animation-direction: alternate;
                animation-delay: 0.25s;
                  @keyframes ilove{
                    0%{
                      color: red;
                      transform: rotateY(0deg);
                      box-shadow: 0 0 100px blue;
                    }
                    100%{
                      transform: rotateY(360deg);
                      box-shadow: 0 0 100px rgb(0, 255, 149);
                    }
                  }
              }
              /* L */
              .caixaSpansIlove span:nth-of-type(2){
                font-size: 17px;
                animation-name: ilove;
                animation-iteration-count: infinite;
                animation-duration: 2s;
                animation-direction: alternate;
                animation-delay: 0.50s;
                  @keyframes ilove{
                    0%{
                      transform: rotateY(0deg);
                      color: rgb(255, 2, 2);
                      box-shadow: 0 0 100px rgb(60, 255, 0);
                    }
                    100%{
                      transform: rotateY(360deg);
                      box-shadow: 0 0 100px rgb(0, 255, 149);
                    }
                  }
              }  
              /* O */
              .caixaSpansIlove span:nth-of-type(3){
                animation-name: ilove;
                animation-iteration-count: infinite;
                animation-duration: 3s;
                animation-direction: alternate;
                animation-delay: 0.75s;
                  @keyframes ilove{
                    0%{
                      transform: rotateY(0deg);
                      color: red;
                      box-shadow: 0 0 100px blue;
                    }
                    100%{
                      transform: rotateY(360deg);
                      box-shadow: 0 0 100px rgb(0, 255, 149);
                    }
                  }
              }
              /* V */
              .caixaSpansIlove span:nth-of-type(4){
                animation-name: ilove;
                animation-iteration-count: infinite;
                animation-duration: 3s;
                animation-direction: alternate;
                animation-delay: 1s;
                  @keyframes ilove{
                    0%{
                      transform: rotateY(0deg);
                      color: red;
                      box-shadow: 0 0 100px blue;
                    }
                    100%{
                      transform: rotateY(360deg);
                      box-shadow: 0 0 100px rgb(0, 255, 149);
                    }
                  }
              }
              /* E */
              .caixaSpansIlove span:nth-of-type(5){
                animation-name: ilove;
                animation-iteration-count: infinite;
                animation-duration: 3s;
                animation-direction: alternate;
                animation-delay: 1.25s;
                  @keyframes ilove{
                    0%{
                      transform: rotateY(0deg);
                      color: rgb(123, 255, 0);
                      box-shadow: 0 0 100px blue;
                    }
                    100%{
                      transform: rotateY(360deg);
                      box-shadow: 0 0 100px rgb(0, 255, 149);
                    }
                  }
              }      


          /* Div com Spans ---> Coffe */
          .caixaSpansCoffe{
            font-size: 15px;
            font-family: 'Dancing Script', cursive;

            display: flex;
            justify-content: center;
            align-items: center;

            margin-top: 35px;
            margin-right: 5px;
          }
                /* C */
                .caixaSpansCoffe span:nth-of-type(1){
                  font-size: 17px;
                  animation-name: coffe;
                  animation-iteration-count: infinite;
                  animation-duration: 3s;
                  animation-direction: alternate;
                  animation-delay: 1.50s;
                    @keyframes coffe{
                        0%{
                          transform: rotateY(0deg);
                          color: red;
                          box-shadow: 0 0 100px blue;
                        }
                        100%{
                          transform: rotateY(360deg);
                          box-shadow: 0 0 100px rgb(0, 255, 149);
                        }
                    }
                }
                /* 0 */
                .caixaSpansCoffe span:nth-of-type(2){
                  animation-name: coffe;
                  animation-iteration-count: infinite;
                  animation-duration: 3s;
                  animation-direction: alternate;
                  animation-delay: 1.75s;
                    @keyframes coffe{
                        0%{
                          transform: rotateY(0deg);
                          color: red;
                          box-shadow: 0 0 100px blue;
                        }
                        100%{
                          transform: rotateY(360deg);
                          box-shadow: 0 0 100px rgb(0, 255, 149);
                        }
                    }
                }
                /* F */
                .caixaSpansCoffe span:nth-of-type(3){
                  animation-name: coffe;
                  animation-iteration-count: infinite;
                  animation-duration: 3s;
                  animation-direction: alternate;
                  animation-delay: 2s;
                    @keyframes coffe{
                        0%{
                          transform: rotateY(0deg);
                          color: red;
                          box-shadow: 0 0 100px blue;
                        }
                        100%{
                          transform: rotateY(360deg);
                          box-shadow: 0 0 100px rgb(0, 255, 149);
                        }
                    }
                }
                /* F */
                .caixaSpansCoffe span:nth-of-type(4){
                  animation-name: coffe;
                  animation-iteration-count: infinite;
                  animation-duration: 3s;
                  animation-direction: alternate;
                  animation-delay: 2.25s;
                    @keyframes coffe{
                        0%{
                          transform: rotateY(0deg);
                          color: red;
                          box-shadow: 0 0 100px blue;
                        }
                        100%{
                          transform: rotateY(360deg);
                          box-shadow: 0 0 100px rgb(0, 255, 149);
                        }
                    }
                }
                /* E */
                .caixaSpansCoffe span:nth-of-type(5){
                  animation-name: coffe;
                  animation-iteration-count: infinite;
                  animation-duration: 3s;
                  animation-direction: alternate;
                  animation-delay: 2.50s;
                    @keyframes coffe{
                        0%{
                          transform: rotateY(0deg);
                          color: red;
                          box-shadow: 0 0 100px blue;
                        }
                        100%{
                          transform: rotateY(360deg);
                          box-shadow: 0 0 100px rgb(0, 255, 149);
                        }
                    }
                }

          /* Div Copo Café */  
          .copoCafe{
            color: orange;
            height: 70px; 
            margin-top: 8px;
            margin-top: 20px;

            display: flex;
            justify-content: center;
            align-items: center;
            }
          /* Img Svg Copo Café */    
          .copoCafe img{
            width: 35px;
            color: orange;
            border-radius: 50%;
            animation-name: cafegirar;
            animation-duration: 5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
          }
          @keyframes cafegirar{
            0%  {rotate:calc(0deg);margin-top: 0%;}
            1%  {rotate:calc(1deg);}
            2%  {rotate:calc(2deg);}
            3%  {rotate:calc(3deg);margin-top: -2%;}
            4%  {rotate:calc(4deg);margin-top: -3%;}
            5%  {rotate:calc(5deg);}
            6%  {rotate:calc(6deg);margin-top: -4%;}
            7%  {rotate:calc(7deg);}
            8%  {rotate:calc(8deg);}
            9%  {rotate:calc(9deg);}
            10% {rotate:calc(10deg);margin-top: -3%;}
            11% {rotate:calc(9deg);}
            12% {rotate:calc(8deg);}
            13% {rotate:calc(7deg);margin-top: -2%;}
            14% {rotate:calc(6deg);}
            15% {rotate:calc(5deg);} 
            16% {rotate:calc(4deg);margin-top: -1%;} 
            17% {rotate:calc(3deg);} 
            18% {rotate:calc(2deg);} 
            19% {rotate:calc(1deg);} 
            20% {rotate:calc(0deg);margin-top: 0%;}
            21% {rotate:calc(1deg);}
            22% {rotate:calc(2deg);}
            23% {rotate:calc(3deg);}
            24% {rotate:calc(4deg);} 
            25% {rotate:calc(5deg)}
            26% {rotate:calc(6deg);}
            27% {rotate:calc(7deg);margin-top: -3%;}
            28% {rotate:calc(8deg);}
            29% {rotate:calc(9deg);}
            30% {rotate:calc(10deg);margin-top: -2%;}
            31% {rotate:calc(9deg);}
            32% {rotate:calc(8deg);}
            33% {rotate:calc(7deg);}
            34% {rotate:calc(6deg);}
            35% {rotate:calc(5deg);margin-top: 0%;}
            36% {rotate:calc(4deg);}
            37% {rotate:calc(3deg);}
            38% {rotate:calc(2deg);}
            39% {rotate:calc(1deg);}
            40% {rotate:calc(0deg);}
            41% {rotate:calc(1deg);}
            42% {rotate:calc(2deg);}
            43% {rotate:calc(3deg);}
            44% {rotate:calc(4deg);}
            45% {rotate:calc(5deg);}
            46% {rotate:calc(6deg);}
            47% {rotate:calc(7deg);}
            48% {rotate:calc(8deg);}
            49% {rotate:calc(9deg);}
            50% {rotate:calc(10deg);}
            51% {rotate:calc(9deg);}
            52% {rotate:calc(8deg);}
            53% {rotate:calc(7deg);}
            54% {rotate:calc(6deg);}
            55% {rotate:calc(5deg);}
            56% {rotate:calc(4deg);}
            57% {rotate:calc(3deg);}
            58% {rotate:calc(2deg);}
            59% {rotate:calc(1deg);}
            60% {rotate:calc(0deg);}
            61% {rotate:(none);}
            62% {rotate:calc(1deg);}
            63% {rotate:calc(2deg);}
            64% {rotate:calc(3deg);}
            65% {rotate:calc(4deg);}
            66% {rotate:calc(5deg);}
            67% {rotate:calc(6deg);}
            68% {rotate:calc(7deg);}
            69% {rotate:calc(8deg);}
            70% {rotate:calc(9deg);}
            71% {rotate:calc(10deg);}
            72% {rotate:calc(9deg);}
            73% {rotate:calc(8deg);}
            74% {rotate:calc(7deg);}
            75% {rotate:calc(6deg);}
            76% {rotate:calc(5deg);}
            77% {rotate:calc(4deg);}
            78% {rotate:calc(3deg);}
            79% {rotate:calc(2deg);}
            80% {rotate:calc(1deg);}
            81% {rotate:calc(0deg);}
            82% {rotate:calc(1deg);}
            83% {rotate:calc(2deg);}
            84% {rotate:calc(3deg);}
            85% {rotate:calc(4deg);}
            86% {rotate:calc(5deg);}
            87% {rotate:calc(6deg);}
            88% {rotate:calc(7deg);}
            89% {rotate:calc(8deg);}
            90% {rotate:calc(9deg);}
            91% {rotate:calc(10deg);}
            92% {rotate:calc(9deg);}
            93% {rotate:calc(8deg);}
            94% {rotate:calc(7deg);}
            95% {rotate:calc(6deg);}
            96% {rotate:calc(5deg);}
            97% {rotate:calc(4deg);}
            98% {rotate:calc(3deg);}
            99% {rotate:calc(1deg);}
            100% {rotate:calc(0deg);}      
          }

    /* Descrição do Desenvolvedor | EX: Olá meu nome ..*/
    .caixaDevStudent .myDescription{
      color: rgb(140, 245, 219);
      text-shadow: 1px 2px 5px #0004ff;
      line-height: 22px;
      font-family: 'Bitter', serif;
      padding: 20px;
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 15px;
      border: 1px solid #888888;
      border-radius: 5px;
      box-shadow: 0 0 5px 0px #fff;
      line-height: 24px;
    }
    /* Lista de Skilss --->  | Html | Css | JavaScript .. */
    .caixaDevStudent .ulSkills{
      padding: 20px 0 15px 0;
      font-family: 'Rubik', sans-serif;
      font-size: 16px;

      color: #019b01;
      text-shadow: 1px 1px 20px orange;
      text-align: center;
      margin: 5px 0 0px 0;
      list-style-type: none;
      border: 1px solid #888;
      border-radius: 5px;
      box-shadow: 0 0 5px 0px #fff;
    }

        .caixaDevStudent .liSkills{
          text-align: justify;
          line-height: 40px;
          margin-left: 17%;
          padding: 2px 0 2px 0;
          width: 100%;
        }

        .caixaDevStudent .liSkills:nth-of-type(1){
          margin-left: 17%;
          margin-top: 10px;
        }

        /* Imagens das Skills Ex: Html5 ..*/
        .liSkills img{       
          margin-left: 1%;
          width: 60%;
          height: 36px;
          border-radius: 3px;
        }

    /* Animação Borda das Li´s | Das Skills e Contato */
    .liSkills::before{
      content:'';
      position: absolute;
      z-index: -1;
      border-radius: 3px;
      margin: -5px 0 0 0;
      width: calc(50% + 10px);
      height: calc(2% + 10px);
      background: linear-gradient(45deg,#FFFF00,#00FF00,
      #0099FF,#001AFF,#A200FF,#FF0055,#FF0000,
      #FFFF00,#00FF00,#0099FF,#001AFF,#A200FF);
      background-size: 300%;
      animation: animarborda2 5s linear alternate infinite;
    }
  
        @keyframes  animarborda2{
          0%{background-position: 0;}
          100%{background-position: 300%;}
        }
    
        .liSkills::after{
          filter: blur(50px);
        }

    .caixaDevStudent .contato{
      margin-top: 20px;
      margin-bottom: 10px;     
    }

    /* Músicas */
    .caixaTituloMusics{
      margin: 20px 0 0 0;
    }

      .caixaTituloMusics h3{
        color: #0bdb96;
        text-shadow: 1px 1px 10px goldenrod;
        font-family: 'Lobster', cursive;
        margin: 30px 0 10px 0;
      }

      .caixaTituloMusics>h2{
        color: rgb(255, 196, 0);
        margin-bottom: 15px;
        font-size: 20px;
      }

      .iframeMusicCaixa{
        border-radius: 10px;
        width: 100%;
        height: 85px;

        margin: auto;
        margin-bottom: 30px;
        z-index: 1000;
      }

      .iframeMusicCaixa::before{
        content:'';
        position: absolute;
        z-index: -1;
        border-radius: 5px;
        margin: -5px 0 0 -2%;
        width: calc(70% + 10px);
        height: calc(5% + 10px);
        background: linear-gradient(25deg,gold,#ffa600,
        goldenrod,yellow,gold,rgb(255, 196, 0),#ffa600,
        #FFFF00,goldenrod,rgb(229, 255, 0)
        ,goldenrod,rgb(255, 196, 0));
        background-size: 300%;
        animation: animarborda3 10s linear alternate infinite;
        
      }
    
          @keyframes  animarborda3{
            0%{background-position: 0;}
            100%{background-position: 300%;}
          }
      
          .liSkills::after{
            filter: blur(50px);
          }
      
    
   