@charset "UTF-8";
body {
  margin: 0 15% 0 15%;
  background-color: #223;
}

header {
  height: 150px;
  width: 100%;
  margin: auto;
  background-color: #000;
  border-radius: 4px;
  padding: 10px 0.5rem 10px 0.5rem;
  box-sizing: border-box;
  animation-name: lightHeader;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
  transition: 1s;
}

@keyframes lightHeader {
  0% {
    box-shadow: 0 0 20px 0 yellow;
  }
  50% {
    box-shadow: 0 0 20px 0 orange;
  }
  100% {
    box-shadow: 0 0 20px 0 blue;
  }
}
@font-face {
  font-family: vampireWars;
  src: url(/fonts/Vampire\ Wars.otf);
}
header .toolLogoImg {
  width: 70px;
  position: absolute;
  animation-name: lightEng;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
  transition: 500ms;
  margin-top: -20%;
}

@keyframes lightEng {
  0% {
    rotate: 340deg;
    border-radius: 50%;
    margin-top: 2%;
    transition: 1s;
  }
  5% {
    margin-top: 2%;
    rotate: 330deg;
  }
  10% {
    margin-top: 3%;
    rotate: 340deg;
  }
  25% {
    margin-top: 3%;
    rotate: 343deg;
  }
  50% {
    rotate: 345deg;
    margin-top: 3%;
    transition: 1s;
  }
  65% {
    margin-top: 3%;
    rotate: 380deg;
  }
  75% {
    margin-top: 3%;
  }
  80% {
    margin-top: 3%;
  }
  95% {
    margin-top: 3%;
  }
  100% {
    rotate: 355deg;
    border-radius: 50%;
    margin-top: 3%;
    transition: 1s;
  }
}
/* Spans */
header .spanMyMarg span {
  height: 10vh;
  font-size: 40px;
}

header .spanFullSMarg span {
  font-size: 30px;
}

header .spanToolsMarg span {
  font-size: 25px;
}

/* DIV PAI Da | Div spanMyMarg |Div spanFullSMarg | Div spanToolsMarg*/
header .spanMyMarg {
  margin: 15px 0 0 15%;
  font-family: vampireWars;
  color: goldenrod;
  animation-name: spamy;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

/* M */
.spanMyMarg span:nth-of-type(1) {
  color: rgb(234, 247, 162);
  text-shadow: 0 0 2px blue;
  padding: 0 5px 0 0;
  font-size: 50px;
  animation-delay: 0s;
  animation-name: spamy;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spamy {
  0% {
    color: #610a0a;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
}

/* Y */
.spanMyMarg span:nth-of-type(2) {
  text-shadow: 0 0 2px blue;
  animation-delay: 0.55s;
}
@keyframes mylight {
  0% {
    color: #580707;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

/* Animação FullS */
header .spanFullSMarg {
  display: flex;
  margin: -13px 0 0 25%;
  font-family: vampireWars;
  color: gold;
  letter-spacing: 4px;
  animation-name: fullight;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

/* F */
header .spanFullSMarg span:nth-of-type(1) {
  color: rgb(234, 247, 162);
  text-shadow: 0 0 2px blue;
  padding: 0 5px 0 0;
  font-size: 50px;
  animation-delay: 0s;
  animation-name: spafulls;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spafulls {
  0% {
    color: #660e02;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
}

/* U */
header .spanFullSMarg span:nth-of-type(2) {
  text-shadow: 0 0 2px blue;
  animation-delay: 0.25s;
  animation-name: spafull;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spafull {
  0% {
    color: #580707;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
}

/* L */
header .spanFullSMarg span:nth-of-type(3) {
  text-shadow: 0 0 2px blue;
  animation-delay: 0.5s;
  animation-name: spafull;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spafull {
  0% {
    color: #580707;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
}

/* L */
header .spanFullSMarg span:nth-of-type(4) {
  text-shadow: 0 0 2px blue;
  animation-delay: 1s;
  animation-name: spafull;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spafull {
  0% {
    color: #580707;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
}

/* S */
header .spanFullSMarg span:nth-of-type(5) {
  text-shadow: 0 0 2px blue;
  animation-delay: 1.25s;
  animation-name: spafull;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spafull {
  0% {
    color: #580707;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
}

/* T */
header .spanFullSMarg span:nth-of-type(6) {
  text-shadow: 0 0 2px blue;
  animation-delay: 1.5s;
  animation-name: spafull;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spafull {
  0% {
    color: #580707;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
}

/* A */
header .spanFullSMarg span:nth-of-type(7) {
  text-shadow: 0 0 2px blue;
  animation-delay: 1.75s;
  animation-name: spafull;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spafull {
  0% {
    color: #580707;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
}

/* C */
header .spanFullSMarg span:nth-of-type(8) {
  text-shadow: 0 0 2px blue;
  animation-delay: 2s;
  animation-name: spafull;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spafull {
  0% {
    color: #580707;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
}

/* K */
header .spanFullSMarg span:nth-of-type(9) {
  text-shadow: 0 0 2px blue;
  animation-delay: 2.25s;
  animation-name: spafull;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spafull {
  0% {
    color: #580707;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
}

header .spanFullSMarg span:nth-of-type(10) {
  animation-delay: 2.5s;
}

@keyframes fullight {
  0% {
    color: #fff;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}
/* IMG LAMPADA */
header .lampada {
  position: absolute;
  margin: -14px 0 0 23.3%;
  width: 40px;
  rotate: 50deg;
}

/*ANIMAÇÃO TOOLS */
header .spanToolsMarg {
  margin: 0 0 0 60%;
  position: absolute;
  color: rgb(21, 92, 245);
  text-shadow: 0 0 10px blue;
  font-family: vampireWars;
  letter-spacing: 2px;
  animation-name: toolight;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(2) {
  animation-delay: 0.25s;
  text-shadow: 0 0 10px blue;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(3) {
  animation-delay: 0.5s;
  text-shadow: 0 0 10px blue;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(4) {
  animation-delay: 0.75s;
  text-shadow: 0 0 10px blue;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(5) {
  animation-delay: 1s;
  text-shadow: 0 0 10px blue;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(6) {
  animation-delay: 1.25s;
  text-shadow: 0 0 10px blue;
}
@keyframes toolight {
  0% {
    color: rgb(240, 198, 63);
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
    rotate: 0deg;
  }
  20% {
    text-shadow: none;
    text-shadow: none;
    rotate: 20deg;
  }
  40% {
    rotate: -10deg;
  }
  60% {
    rotate: 25deg;
  }
  80% {
    rotate: 10deg;
  }
  100% {
    rotate: 0deg;
  }
}

/* Caixa Pai de todo contéudo */
#boxPage {
  display: inline-block;
  border: 1px solid red;
  border-radius: 4px;
  margin-top: 20px;
  height: 900px;
  width: 100%;
  background-color: white;
}

/* LAMPADA MEDIA SCREEN */
@media only screen and (min-width: 1278px) and (max-width: 1338.4px) {
  header .lampada {
    position: absolute;
    margin: -14px 0 0 23.8%;
    width: 40px;
    rotate: 50deg;
  }
}
/* LAMPADA MEDIA SCREEN */
@media only screen and (min-width: 1114px) and (max-width: 1277px) {
  header .lampada {
    position: absolute;
    margin: -14px 0 0 24.4%;
    width: 40px;
    rotate: 50deg;
  }
}
/* LAMPADA MEDIA SCREEN */
@media only screen and (min-width: 1020px) and (max-width: 1113.9px) {
  header .lampada {
    position: absolute;
    margin: -14px 0 0 24.8%;
    width: 40px;
    rotate: 50deg;
  }
}
/* LAMPADA MEDIA SCREEN */
@media only screen and (min-width: 1000px) and (max-width: 1019.9px) {
  header .lampada {
    position: absolute;
    margin: -14px 0 0 24.8%;
    width: 40px;
    rotate: 50deg;
  }
}
/* LAMPADA MEDIA SCREEN */
@media only screen and (min-width: 923px) and (max-width: 999.9px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 25.4%;
    width: 40px;
    rotate: 50deg;
  }
}
@media only screen and (min-width: 898.8px) and (max-width: 923.9px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 25.4%;
    width: 40px;
    rotate: 50deg;
  }
}
@media only screen and (min-width: 885px) and (max-width: 898.7px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 25.4%;
    width: 40px;
    rotate: 50deg;
  }
}
@media only screen and (min-width: 813px) and (max-width: 884.9px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 25.9%;
    width: 40px;
    rotate: 50deg;
  }
}
@media only screen and (min-width: 754px) and (max-width: 812.9px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 26.1%;
    width: 40px;
    rotate: 50deg;
  }
}
@media only screen and (min-width: 660px) and (max-width: 753.6px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 27.2%;
    width: 40px;
    rotate: 50deg;
  }
}
@media only screen and (min-width: 570px) and (max-width: 659.9px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 28.4%;
    width: 40px;
    rotate: 50deg;
  }
}
@media only screen and (min-width: 558px) and (max-width: 570.8px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 28.6%;
    width: 40px;
    rotate: 50deg;
  }
}
@media only screen and (min-width: 500px) and (max-width: 558.9px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 29.7%;
    width: 40px;
    rotate: 50deg;
  }
}
@media only screen and (min-width: 451px) and (max-width: 499.9px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 30.8%;
    width: 40px;
    rotate: 50deg;
  }
}
@media only screen and (min-width: 0px) and (max-width: 450.9px) {
  header .lampada {
    display: none;
    position: absolute;
    margin: -15px 0 0 30.8%;
    width: 40px;
    rotate: 50deg;
  }
}
/* MEDIA SCREEN */
@media only screen and (min-width: 450px) and (max-width: 720.4px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
  header {
    height: 200;
    width: 100%;
    margin: auto;
    background-color: #000;
    border-radius: 0.625rem;
    padding: 0.625rem 0.5rem 0.125 0.5rem;
  }
  header .spanMyMarg {
    margin: 0 0 0 20%;
  }
  header .spanFullSMarg {
    margin: -1px 0 0 25%;
  }
  header .spanToolsMarg {
    margin: 0 0 0 43%;
  }
}
/* MEDIA SCREEN */
@media only screen and (min-width: 0px) and (max-width: 450px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
  header {
    font-size: 18px;
    height: 120px;
    width: 100%;
    background-color: black;
    color: white;
    box-shadow: 0 0 20px 0 purple;
    animation-name: lightHeader;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    transition: 1s;
  }
  @keyframes lightHeader {
    0% {
      box-shadow: 0 0 20px 0 yellow;
      rotate: 340deg;
    }
    50% {
      box-shadow: 0 0 20px 0 orange;
      rotate: 345deg;
    }
    100% {
      box-shadow: 0 0 20px 0 blue;
      rotate: 355deg;
    }
  }
  /* HEADER IMAGEM ENGRENAGEM */
  header .toolLogoImg {
    position: absolute;
    animation-name: lightEng;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    transition: 1s;
    margin-top: 10%;
  }
  @keyframes lightEng {
    0% {
      rotate: 340deg;
      border-radius: 50%;
      margin-top: 10%;
      transition: 1s;
    }
    5% {
      margin-top: 11%;
      rotate: 330deg;
    }
    10% {
      margin-top: 10%;
      rotate: 340deg;
    }
    25% {
      margin-top: 11%;
      rotate: 343deg;
    }
    50% {
      rotate: 345deg;
      margin-top: 10%;
      transition: 1s;
    }
    60% {
      rotate: 345deg;
      margin-top: 11%;
      transition: 1s;
    }
    65% {
      margin-top: 12%;
      rotate: 380deg;
    }
    70% {
      margin-top: 12%;
    }
    72% {
      margin-top: 13%;
    }
    75% {
      margin-top: 14%;
    }
    100% {
      rotate: 355deg;
      border-radius: 50%;
      margin-top: 5%;
      transition: 1s;
      margin-top: 15%;
    }
  }
  header .spanMyMarg {
    text-align: center;
    margin: 0;
  }
  header .spanFullSMarg {
    margin: -1px 0 0 28%;
  }
  header .spanToolsMarg {
    text-align: center;
    margin: 0;
  }
}
/*ANIMAÇÃO TOOLS */
header .spanToolsMarg {
  margin: 0 0 0 20%;
  color: rgb(21, 92, 245);
  text-shadow: 0 0 10px blue;
  font-family: vampireWars;
  letter-spacing: 2px;
  animation-name: toolight;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(2) {
  animation-delay: 0.25s;
  text-shadow: 0 0 10px blue;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(3) {
  animation-delay: 0.5s;
  text-shadow: 0 0 10px blue;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(4) {
  animation-delay: 0.75s;
  text-shadow: 0 0 10px blue;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(5) {
  animation-delay: 1s;
  text-shadow: 0 0 10px blue;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(6) {
  animation-delay: 1.25s;
  text-shadow: 0 0 10px blue;
}
@keyframes toolight {
  0% {
    color: rgb(240, 198, 63);
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
    rotate: 0deg;
  }
  20% {
    text-shadow: none;
    text-shadow: none;
    rotate: 20deg;
  }
  40% {
    rotate: -10deg;
  }
  60% {
    rotate: 25deg;
  }
  80% {
    rotate: 10deg;
  }
  100% {
    rotate: 0deg;
  }
}

/*Header*//*# sourceMappingURL=index.css.map */