@charset "UTF-8";
body {
  margin: 0 15% 0 15%;
  background-color: #223;
  box-shadow: 0 0 1000px purple;
}

html {
  color: white;
}

header {
  height: 150px;
  width: 100%;
  margin: auto;
  background-color: #000;
  border-radius: 4px;
  padding: 10px 0.5rem 10px 0.5rem;
  box-sizing: border-box;
  animation-name: lightHeader;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
  transition: 1s;
}

@keyframes lightHeader {
  0% {
    box-shadow: 0 0 20px 0 rgba(255, 255, 0, 0.493);
  }
  50% {
    box-shadow: 0 0 20px 0 rgba(255, 166, 0, 0.507);
  }
  100% {
    box-shadow: 0 0 20px 0 rgba(0, 0, 255, 0.527);
  }
}
header .toolLogoImg { /* Img Engrenagem */
  width: 70px;
  position: absolute;
  border-radius: 50%;
  animation-name: lightEng;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
  transition: 500ms;
  margin-top: -20%;
}

@keyframes lightEng {
  0% {
    margin-top: 2%;
    rotate: 340deg;
    border-radius: 50%;
  }
  5% {
    margin-top: 2%;
    rotate: 330deg;
  }
  10% {
    margin-top: 3%;
    rotate: 340deg;
  }
  25% {
    margin-top: 3%;
    rotate: 343deg;
  }
  50% {
    margin-top: 3%;
    rotate: 345deg;
  }
  65% {
    margin-top: 3%;
    rotate: 380deg;
  }
  75% {
    margin-top: 3%;
  }
  80% {
    margin-top: 3%;
  }
  95% {
    margin-top: 3%;
  }
  100% {
    margin-top: 3%;
    rotate: 355deg;
    border-radius: 50%;
  }
}
/* Spans */
header .spanMyMarg span {
  height: 10vh;
  font-size: 40px;
}

header .spanFullSMarg span {
  font-size: 30px;
}

header .spanToolsMarg span {
  font-size: 25px;
}

/* Div spanMyMarg |Div spanFullSMarg | Div spanToolsMarg*/
header .spanMyMarg {
  margin: 15px 0 0 15%;
  font-family: "Alfa Slab One", cursive;
  color: goldenrod;
  animation-name: spamy;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

/* M */
.spanMyMarg span:nth-of-type(1) {
  color: rgb(234, 247, 162);
  text-shadow: 0 0 2px blue;
  padding: 0 5px 0 0;
  font-size: 50px;
  animation-delay: 0s;
  animation-name: spamy;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spamy {
  0% {
    color: #610a0a;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

/* Y */
.spanMyMarg span:nth-of-type(2) {
  text-shadow: 0 0 2px blue;
  animation-delay: 0.55s;
}
@keyframes mylight {
  0% {
    color: #580707;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

/* Animação FullStack */
header .spanFullSMarg {
  display: flex;
  margin: -13px 0 0 25%;
  font-family: "Alfa Slab One", cursive;
  font-weight: 700;
  color: gold;
  letter-spacing: 4px;
  animation-name: fullight;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

/* F */
header .spanFullSMarg span:nth-of-type(1) {
  color: rgb(234, 247, 162);
  text-shadow: 0 0 2px blue;
  padding: 0 5px 0 0;
  font-size: 50px;
  animation-delay: 0s;
  animation-name: spafulls;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spafulls {
  0% {
    color: #660e02;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

/* U */
header .spanFullSMarg span:nth-of-type(2) {
  text-shadow: 0 0 2px blue;
  animation-delay: 0.25s;
  animation-name: spafull;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spafull {
  0% {
    color: #580707;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

/* L */
header .spanFullSMarg span:nth-of-type(3) {
  text-shadow: 0 0 2px blue;
  animation-delay: 0.5s;
  animation-name: spafull;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spafull {
  0% {
    color: #580707;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

/* L */
header .spanFullSMarg span:nth-of-type(4) {
  text-shadow: 0 0 2px blue;
  animation-delay: 1s;
  animation-name: spafull;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spafull {
  0% {
    color: #580707;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

/* S */
header .spanFullSMarg span:nth-of-type(5) {
  text-shadow: 0 0 2px blue;
  animation-delay: 1.25s;
  animation-name: spafull;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spafull {
  0% {
    color: #580707;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

/* T */
header .spanFullSMarg span:nth-of-type(6) {
  text-shadow: 0 0 2px blue;
  animation-delay: 1.5s;
  animation-name: spafull;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spafull {
  0% {
    color: #580707;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

/* A */
header .spanFullSMarg span:nth-of-type(7) {
  text-shadow: 0 0 2px blue;
  animation-delay: 1.75s;
  animation-name: spafull;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spafull {
  0% {
    color: #580707;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

/* C */
header .spanFullSMarg span:nth-of-type(8) {
  text-shadow: 0 0 2px blue;
  animation-delay: 2s;
  animation-name: spafull;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spafull {
  0% {
    color: #580707;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

/* K */
header .spanFullSMarg span:nth-of-type(9) {
  text-shadow: 0 0 2px blue;
  animation-delay: 2.25s;
  animation-name: spafull;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spafull {
  0% {
    color: #580707;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

/* IMG LAMPADA */
header .lampada {
  position: absolute;
  margin: -14px 0 0 23.3%;
  border-radius: 50%;
  width: 40px;
  rotate: 50deg;
  box-shadow: 0px 0px 30px 2px gold;
  animation-name: lamp;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes lamp {
  0% {
    box-shadow: 1px 0px 30px 2px gold;
  }
  50% {
    box-shadow: none;
  }
  60% {
    box-shadow: 0 4px 40px 2px gold;
  }
  70% {
    box-shadow: 4px 0px 30px 1px gold;
  }
  80% {
    animation-delay: 5ms;
  }
  100% {
    box-shadow: -1px -1px 30px 2px gold;
  }
}

header .lampada:hover {
  box-shadow: 0 0 30px 2px greenyellow;
  animation-name: lamp1;
  animation-duration: 0.1ms;
  animation-iteration-count: infinite;
}
@keyframes lamp1 {
  0% {
    box-shadow: -1px 0px 40px 2px gold;
  }
  13% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0px -1px 40px 1px gold;
  }
}

/* IMG ROSCA */
.imgRosca {
  position: absolute;
  width: 30px;
  margin-top: -157px;
  margin-left: 61%;
  rotate: 340deg;
  animation-name: parafuso;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
  transition: 500ms;
}
@keyframes parafuso {
  0% {
    rotate: 238deg;
    box-shadow: 0 0 10px purple;
  }
  5% {
    rotate: 235deg;
  }
  10% {
    rotate: 246deg;
  }
  25% {
    rotate: 245deg;
  }
  50% {
    rotate: 245deg;
  }
  65% {
    rotate: 260deg;
  }
  100% {
    rotate: 255deg;
  }
}

header .spanToolsMarg {
  margin: 0px 0 0 60%;
  position: absolute;
  color: rgb(21, 92, 245);
  text-shadow: 0 0 10px blue;
  font-family: "Patua One", cursive;
  letter-spacing: 2px;
  animation-name: toolight;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(2) {
  animation-delay: 0.25s;
  text-shadow: 0 0 10px blue;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(3) {
  animation-delay: 0.5s;
  text-shadow: 0 0 10px blue;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(4) {
  animation-delay: 0.75s;
  text-shadow: 0 0 10px blue;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(5) {
  animation-delay: 1s;
  text-shadow: 0 0 10px blue;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(6) {
  animation-delay: 1.25s;
  text-shadow: 0 0 10px blue;
}
@keyframes toolight {
  0% {
    color: rgb(240, 198, 63);
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
    rotate: 0deg;
  }
  20% {
    text-shadow: none;
    text-shadow: none;
    rotate: 20deg;
  }
  40% {
    rotate: -10deg;
  }
  60% {
    rotate: 25deg;
  }
  80% {
    rotate: 10deg;
  }
  100% {
    rotate: 0deg;
  }
}

/* Lista Redes Sociais*/
header ul {
  list-style-type: none;
  position: absolute;
  margin-top: -120px;
  margin-left: 57%;
  margin: -120px 0 0 57%;
  padding: 0;
  color: white;
  animation-name: redesociais;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
header ul li {
  font-size: 22px;
  padding: 10px;
  letter-spacing: 5px;
  margin-bottom: 15px;
  width: 560%;
}
header ul a:hover {
  color: orange;
  transition: 600ms;
}
@keyframes redesociais {
  0% {
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  100% {
    text-shadow: none;
  }
}

/* | HEADER | REDES SOCIAIS | */
header ul li a {
  font-family: "Amaranth", sans-serif;
  text-decoration: none;
  color: white;
  margin-left: 100%;
}

/* GITHUB */
a.tooltip:hover span.github {
  background-image: url("./img/github.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: 1x;
  margin-left: 0px;
  animation-name: girar;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

/* Netlify*/
a.tooltip:hover span.netlify {
  background-image: url("./img/netlify.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #eee;
  display: inline;
  position: absolute;
  margin-top: 7x;
  margin-left: 10px;
  animation-name: girar;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

/* Linkedin */
a.tooltip:hover span.linkedin {
  background-image: url("./img/linkedin.png");
  background-position: center center;
  background-size: contain; /* <------ */
  background-repeat: no-repeat;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #eee;
  display: inline;
  position: absolute;
  rotate: 0deg;
  margin-top: -2px;
  margin-left: 100px;
  animation-name: girar;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

@keyframes girar {
  0% {
    rotate: 60deg;
    margin-left: 5%;
    box-shadow: 0 0 50px rgb(255, 0, 255);
    border: 1px solid purple;
  }
  1% {
    rotate: 55deg;
    margin-left: 10%;
    box-shadow: 0 0 50px rgb(212, 0, 255);
  }
  2% {
    rotate: 50deg;
    margin-left: 15%;
    box-shadow: 0 0 50px rgb(162, 0, 255);
  }
  3% {
    rotate: 45deg;
    margin-left: 20%;
    box-shadow: 0 0 50px rgb(119, 0, 255);
  }
  4% {
    rotate: 40deg;
    margin-left: 25%;
    box-shadow: 0 0 50px rgb(89, 0, 255);
  }
  5% {
    rotate: 35deg;
    margin-left: 30%;
    box-shadow: 0 0 50px rgb(89, 0, 255);
  }
  6% {
    rotate: 30deg;
    margin-left: 35%;
    box-shadow: 0 0 50px rgb(55, 0, 255);
  }
  7% {
    rotate: 25deg;
    margin-left: 40%;
    box-shadow: 0 0 50px rgb(17, 0, 255);
  }
  8% {
    rotate: 20deg;
    margin-left: 45%;
    box-shadow: 0 0 50px rgb(0, 17, 255);
  }
  9% {
    rotate: 15deg;
    margin-left: 50%;
    box-shadow: 0 0 50px rgb(0, 38, 255);
    border: 1px solid rgba(0, 0, 0, 0.377);
  }
  10% {
    rotate: 10deg;
    margin-left: 55%;
    box-shadow: 0 0 50px rgb(0, 81, 255);
  }
  11% {
    rotate: 5deg;
    margin-left: 60%;
    box-shadow: 0 0 50px rgb(0, 119, 255);
  }
  12% {
    rotate: 0deg;
    margin-left: 65%;
    box-shadow: 0 0 50px rgb(0, 132, 255);
  }
  13% {
    rotate: -5deg;
    margin-left: 70%;
    box-shadow: 0 0 50px rgb(0, 153, 255);
  }
  14% {
    rotate: -10deg;
    margin-left: 75%;
    box-shadow: 0 0 50px rgb(0, 195, 255);
  }
  15% {
    rotate: -15deg;
    margin-left: 80%;
    box-shadow: 0 0 50px rgb(0, 247, 255);
  }
  16% {
    rotate: -20deg;
    margin-left: 85%;
    box-shadow: 0 0 50px rgb(0, 255, 234);
  }
  17% {
    rotate: -25deg;
    margin-left: 90%;
    box-shadow: 0 0 50px rgb(0, 255, 179);
  }
  18% {
    rotate: -30deg;
    margin-left: 95%;
    box-shadow: 0 0 50px rgb(0, 255, 149);
  }
  19% {
    rotate: -35deg;
    margin-left: 100%;
    box-shadow: 0 0 50px rgb(0, 255, 128);
    border: 1px solid rgba(0, 174, 255, 0.486);
  }
  20% {
    rotate: -40deg;
    margin-left: 95%;
    box-shadow: 0 0 50px rgb(0, 255, 85);
  }
  21% {
    rotate: -45deg;
    margin-left: 90%;
    box-shadow: 0 0 50px rgb(0, 255, 42);
  }
  22% {
    rotate: -50deg;
    margin-left: 85%;
    box-shadow: 0 0 50px rgb(9, 255, 0);
  }
  23% {
    rotate: -55deg;
    margin-left: 80%;
    box-shadow: 0 0 50px rgb(60, 255, 0);
  }
  24% {
    rotate: -60deg;
    margin-left: 75%;
    box-shadow: 0 0 50px rgb(123, 255, 0);
  }
  25% {
    rotate: -55deg;
    margin-left: 70%;
    box-shadow: 0 0 50px rgb(217, 255, 0);
  }
  26% {
    rotate: -50deg;
    margin-left: 65%;
    box-shadow: 0 0 50px rgb(255, 208, 0);
  }
  27% {
    rotate: -45deg;
    margin-left: 60%;
    box-shadow: 0 0 50px rgb(255, 174, 0);
  }
  28% {
    rotate: -40deg;
    margin-left: 55%;
    box-shadow: 0 0 50px rgb(255, 123, 0);
  }
  29% {
    rotate: -35deg;
    margin-left: 50%;
    box-shadow: 0 0 50px rgb(255, 102, 0);
    border: 1px solid rgba(255, 231, 14, 0.493);
  }
  30% {
    rotate: -30deg;
    margin-left: 45%;
    box-shadow: 0 0 50px rgb(255, 72, 0);
  }
  31% {
    rotate: -25deg;
    margin-left: 40%;
    box-shadow: 0 0 50px rgb(255, 38, 0);
  }
  32% {
    rotate: -20deg;
    margin-left: 35%;
    box-shadow: 0 0 50px rgb(255, 0, 0);
  }
  33% {
    rotate: -15deg;
    margin-left: 30%;
    box-shadow: 0 0 50px rgb(255, 38, 0);
  }
  34% {
    rotate: -10deg;
    margin-left: 25%;
    box-shadow: 0 0 50px rgb(255, 72, 0);
  }
  35% {
    rotate: -5deg;
    margin-left: 20%;
    box-shadow: 0 0 50px rgb(255, 102, 0);
  }
  36% {
    rotate: 0deg;
    margin-left: 15%;
    box-shadow: 0 0 50px rgb(255, 123, 0);
  }
  37% {
    rotate: 5deg;
    margin-left: 10%;
    box-shadow: 0 0 50px rgb(255, 174, 0);
  }
  38% {
    rotate: 10deg;
    margin-left: 5%;
    box-shadow: 0 0 50px rgb(255, 208, 0);
  }
  39% {
    rotate: 15deg;
    margin-left: 0%;
    box-shadow: 0 0 50px rgb(217, 255, 0);
    border: 1px solid rgba(43, 255, 1, 0.685);
  }
  40% {
    rotate: 20deg;
    margin-left: 5%;
    box-shadow: 0 0 50px rgb(123, 255, 0);
  }
  41% {
    rotate: 25deg;
    margin-left: 10%;
    box-shadow: 0 0 50px rgb(60, 255, 0);
  }
  42% {
    rotate: 30deg;
    margin-left: 15%;
    box-shadow: 0 0 50px rgb(9, 255, 0);
  }
  43% {
    rotate: 35deg;
    margin-left: 20%;
    box-shadow: 0 0 50px rgb(0, 255, 42);
  }
  44% {
    rotate: 40deg;
    margin-left: 25%;
    box-shadow: 0 0 50px rgb(0, 255, 85);
  }
  45% {
    rotate: 45deg;
    margin-left: 30%;
    box-shadow: 0 0 50px rgb(0, 255, 128);
  }
  46% {
    rotate: 50deg;
    margin-left: 35%;
    box-shadow: 0 0 50px rgb(0, 255, 149);
  }
  47% {
    rotate: 55deg;
    margin-left: 40%;
    box-shadow: 0 0 50px rgb(0, 255, 179);
  }
  48% {
    rotate: 60deg;
    margin-left: 45%;
    box-shadow: 0 0 50px rgb(0, 255, 234);
  }
  49% {
    rotate: 55deg;
    margin-left: 50%;
    box-shadow: 0 0 50px rgb(23, 211, 218);
    border: solid rgba(221, 160, 221, 0.5);
  }
  50% {
    rotate: 50deg;
    margin-left: 55%;
    box-shadow: 0 0 50px rgb(0, 247, 255);
  }
  51% {
    rotate: 45deg;
    margin-left: 60%;
    box-shadow: 0 0 50px rgb(0, 195, 255);
  }
  52% {
    rotate: 40deg;
    margin-left: 65%;
    box-shadow: 0 0 50px rgb(0, 153, 255);
  }
  53% {
    rotate: 35deg;
    margin-left: 70%;
    box-shadow: 0 0 50px rgb(0, 132, 255);
  }
  54% {
    rotate: 30deg;
    margin-left: 75%;
    box-shadow: 0 0 50px rgb(0, 119, 255);
  }
  55% {
    rotate: 25deg;
    margin-left: 80%;
    box-shadow: 0 0 50px rgb(0, 81, 255);
  }
  56% {
    rotate: 20deg;
    margin-left: 85%;
    box-shadow: 0 0 50px rgb(31, 58, 211);
  }
  57% {
    rotate: 15deg;
    margin-left: 90%;
    box-shadow: 0 0 50px rgb(0, 38, 255);
  }
  58% {
    rotate: 10deg;
    margin-left: 95%;
    box-shadow: 0 0 50px rgb(0, 17, 255);
  }
  59% {
    rotate: 5deg;
    margin-left: 100%;
    box-shadow: 0 0 50px rgb(29, 42, 226);
    border: solid rgb(25, 25, 112);
  }
  60% {
    rotate: 0deg;
    margin-left: 95;
    box-shadow: 0 0 50px rgb(55, 0, 255);
  }
  61% {
    rotate: -5deg;
    margin-left: 91%;
    box-shadow: 0 0 50px rgb(89, 0, 255);
  }
  62% {
    rotate: -10deg;
    margin-left: 86%;
    box-shadow: 0 0 50px rgb(119, 0, 255);
  }
  63% {
    rotate: -15deg;
    margin-left: 80%;
    box-shadow: 0 0 50px rgb(162, 0, 255);
  }
  64% {
    rotate: -20deg;
    margin-left: 75%;
    box-shadow: 0 0 50px rgb(174, 0, 255);
  }
  65% {
    rotate: -25deg;
    margin-left: 70%;
    box-shadow: 0 0 50px rgb(212, 0, 255);
  }
  66% {
    rotate: -30deg;
    margin-left: 65%;
    box-shadow: 0 0 50px rgb(255, 0, 255);
  }
  67% {
    rotate: -35deg;
    margin-left: 60%;
    box-shadow: 0 0 50px rgb(212, 0, 255);
  }
  68% {
    rotate: -40deg;
    margin-left: 55%;
    box-shadow: 0 0 50px rgb(174, 0, 255);
  }
  69% {
    rotate: -45deg;
    margin-left: 50%;
    box-shadow: 0 0 50px rgb(162, 0, 255);
  }
  70% {
    rotate: -50deg;
    margin-left: 45%;
    box-shadow: 0 0 50px rgb(119, 0, 255);
  }
  71% {
    rotate: -55deg;
    margin-left: 40%;
    box-shadow: 0 0 50px rgb(89, 0, 255);
  }
  72% {
    rotate: -60deg;
    margin-left: 35%;
    box-shadow: 0 0 50px rgb(55, 0, 255);
  }
  73% {
    rotate: -55deg;
    margin-left: 30%;
    box-shadow: 0 0 50px rgb(0, 17, 255);
  }
  74% {
    rotate: -50deg;
    margin-left: 25%;
    box-shadow: 0 0 50px rgb(29, 42, 226);
  }
  75% {
    rotate: -45deg;
    margin-left: 20%;
    box-shadow: 0 0 50px rgb(0, 38, 255);
  }
  76% {
    rotate: -40deg;
    margin-left: 15%;
    box-shadow: 0 0 50px rgb(31, 58, 211);
  }
  77% {
    rotate: -35deg;
    margin-left: 10%;
    box-shadow: 0 0 50px rgb(0, 81, 255);
  }
  78% {
    rotate: -30deg;
    margin-left: 5%;
    box-shadow: 0 0 50px rgb(0, 119, 255);
  }
  79% {
    rotate: -25deg;
    margin-left: 0%;
    box-shadow: 0 0 50px rgb(0, 132, 255);
    border: 1px solid rgba(128, 0, 128, 0.493);
  }
  80% {
    rotate: -20deg;
    margin-left: -4;
    box-shadow: 0 0 50px rgb(0, 153, 255);
  }
  81% {
    rotate: -15deg;
    margin-left: -6%;
    box-shadow: 0 0 50px rgb(0, 195, 255);
  }
  82% {
    rotate: -10deg;
    margin-left: -9%;
    box-shadow: 0 0 50px rgb(0, 247, 255);
  }
  83% {
    rotate: -15deg;
    margin-left: -10%;
    box-shadow: 0 0 50px rgb(23, 211, 218);
  }
  84% {
    rotate: -20deg;
    margin-left: -9%;
    box-shadow: 0 0 50px rgb(0, 255, 234);
  }
  85% {
    rotate: -25deg;
    margin-left: -8%;
    box-shadow: 0 0 50px rgb(0, 255, 179);
  }
  86% {
    rotate: -20deg;
    margin-left: -7%;
    box-shadow: 0 0 50px rgb(0, 255, 149);
  }
  87% {
    rotate: -15deg;
    margin-left: -10%;
    box-shadow: 0 0 50px rgb(0, 255, 128);
  }
  88% {
    rotate: -10deg;
    margin-left: -16%;
    box-shadow: 0 0 50px rgb(0, 255, 85);
  }
  89% {
    rotate: -5deg;
    margin-left: -15%;
    box-shadow: 0 0 50px rgb(0, 255, 42);
  }
  90% {
    rotate: 0deg;
    margin-left: -14%;
    box-shadow: 0 0 50px rgb(9, 255, 0);
  }
  91% {
    rotate: 5deg;
    margin-left: -13%;
    box-shadow: 0 0 50px rgb(60, 255, 0);
  }
  92% {
    rotate: 10deg;
    margin-left: -12%;
    box-shadow: 0 0 50px rgb(123, 255, 0);
  }
  93% {
    rotate: 15deg;
    margin-left: -11%;
    box-shadow: 0 0 50px rgb(217, 255, 0);
  }
  94% {
    rotate: 20deg;
    margin-left: -10%;
    box-shadow: 0 0 50px rgb(255, 208, 0);
  }
  95% {
    rotate: 25deg;
    margin-left: -8%;
    box-shadow: 0 0 50px rgb(255, 174, 0);
  }
  96% {
    rotate: 30deg;
    margin-left: -6%;
    box-shadow: 0 0 50px rgb(255, 123, 0);
  }
  97% {
    rotate: 40deg;
    margin-left: -5%;
    box-shadow: 0 0 50px rgb(255, 102, 0);
  }
  98% {
    rotate: 45deg;
    margin-left: -3%;
    box-shadow: 0 0 50px rgb(255, 72, 0);
  }
  99% {
    rotate: 55deg;
    margin-left: -2%;
    box-shadow: 0 0 50px rgb(255, 38, 0);
  }
  100% {
    rotate: 60deg;
    margin-left: -1%;
    box-shadow: 0 0 50px rgb(212, 0, 255);
  }
}
a.tooltip {
  outline: none;
}

a.tooltip strong {
  line-height: 30px;
}

a.tooltip:hover {
  text-decoration: none;
}

a.tooltip span {
  border-radius: 2px;
  box-shadow: 0px 0px 8px 4px #666;
  display: none;
  margin-left: 80px;
  padding: 5px 5px;
  width: 50px;
  height: 50px;
  z-index: 10;
}

.callout {
  border: 0;
  left: 120px;
  position: absolute;
  top: -14px;
  z-index: 20;
}

@media only screen and (min-width: 1278px) and (max-width: 1338.4px) {
  header .lampada {
    position: absolute;
    margin: -14px 0 0 23.7%;
    width: 40px;
    rotate: 50deg;
  }
}
/* LAMPADA MEDIA SCREEN */
@media only screen and (min-width: 1278px) and (max-width: 1338.4px) {
  header .lampada {
    position: absolute;
    margin: -14px 0 0 23.8%;
    width: 40px;
    rotate: 50deg;
  }
}
/* LAMPADA MEDIA SCREEN */
@media only screen and (min-width: 1114px) and (max-width: 1277px) {
  header .lampada {
    position: absolute;
    margin: -14px 0 0 24.4%;
    width: 40px;
    rotate: 50deg;
  }
  .imgRosca {
    margin-left: 61%;
  }
  header ul {
    margin-top: -112px;
    margin-left: 56%;
    color: black;
  }
  header .imgDoDesenvolvedor {
    position: absolute;
    width: 90px;
    height: 90px;
    margin-top: -133px;
    margin-left: 49%;
    border-radius: 50%;
  }
}
/* LAMPADA MEDIA SCREEN */
@media only screen and (min-width: 1020px) and (max-width: 1113.9px) {
  header .lampada {
    position: absolute;
    margin: -14px 0 0 24.8%;
    width: 40px;
    rotate: 50deg;
  }
  .imgRosca {
    margin-left: 61%;
  }
  header ul {
    margin-top: -112px;
    margin-left: 54.5%;
    color: black;
  }
}
/* LAMPADA MEDIA SCREEN */
@media only screen and (min-width: 1000px) and (max-width: 1019.9px) {
  header .lampada {
    position: absolute;
    margin: -14px 0 0 24.8%;
    width: 40px;
    rotate: 50deg;
  }
  .imgRosca {
    margin-left: 61%;
  }
  header ul {
    margin-top: -112px;
    margin-left: 54.5%;
    color: black;
  }
}
/* LAMPADA MEDIA SCREEN */
@media only screen and (min-width: 923px) and (max-width: 999.9px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 25.4%;
    width: 40px;
    rotate: 50deg;
  }
  .imgRosca {
    margin-left: 61%;
  }
  header ul {
    margin-top: -112px;
    margin-left: 54%;
    color: black;
  }
  header .imgDoDesenvolvedor {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: 47%;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 898.8px) and (max-width: 923.9px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 25.4%;
    width: 40px;
    rotate: 50deg;
  }
  .imgRosca {
    margin-left: 61%;
  }
  header ul {
    margin-top: -112px;
    margin-left: 53%;
    color: black;
  }
}
@media only screen and (min-width: 885px) and (max-width: 898.7px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 25.4%;
    width: 40px;
    rotate: 50deg;
  }
  .imgRosca {
    margin-left: 58%;
  }
  header ul {
    margin-top: -112px;
    margin-left: 52%;
    color: black;
  }
}
@media only screen and (min-width: 813px) and (max-width: 884.9px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 25.9%;
    width: 40px;
    rotate: 50deg;
  }
  .imgRosca {
    margin-left: 58%;
  }
  header ul {
    margin-top: -112px;
    margin-left: 51%;
    color: black;
  }
}
@media only screen and (min-width: 754px) and (max-width: 812.9px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 26.1%;
    width: 40px;
    rotate: 50deg;
  }
  .imgRosca {
    margin-left: 58%;
  }
  header ul {
    margin-top: -112px;
    margin-left: 49%;
    color: black;
  }
}
@media only screen and (min-width: 660px) and (max-width: 753.6px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 27.2%;
    width: 40px;
    rotate: 50deg;
  }
  header ul {
    margin-top: -100px;
    color: black;
  }
  .imgRosca {
    margin-left: 60%;
  }
  header ul {
    margin-top: -112px;
    margin-left: 48%;
    color: black;
  }
}
@media only screen and (min-width: 570px) and (max-width: 659.9px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 28.4%;
    width: 40px;
    rotate: 50deg;
  }
  header ul {
    margin-left: 65%;
  }
}
@media only screen and (min-width: 558px) and (max-width: 570.8px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 28.6%;
    width: 40px;
    rotate: 50deg;
  }
  header ul {
    margin-top: -112px;
    color: black;
    margin-left: 63%;
  }
}
@media only screen and (min-width: 500px) and (max-width: 558.9px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 29.7%;
    width: 40px;
    rotate: 50deg;
  }
  header ul {
    margin-top: -112px;
    color: black;
    margin-left: 63%;
  }
}
@media only screen and (min-width: 451px) and (max-width: 499.9px) {
  header .lampada {
    position: absolute;
    margin: -15px 0 0 30.8%;
    width: 40px;
    rotate: 50deg;
  }
  header ul {
    margin-top: -112px;
    color: black;
    margin-left: 65%;
  }
  header ul li {
    font-size: 15px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 450.9px) {
  header .lampada {
    display: none;
    position: absolute;
    margin: -15px 0 0 30.8%;
    width: 40px;
    rotate: 50deg;
  }
  header ul {
    margin-top: -90px;
    color: black;
    margin-left: 75%;
  }
  header ul li {
    font-size: 11px;
    font-weight: 700;
    padding: 12px;
  }
}
/* MEDIA SCREEN */
@media only screen and (min-width: 450px) and (max-width: 720.4px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
  .imgRosca {
    margin-left: 75%;
  }
  header ul {
    margin-top: -100px;
    margin-left: 65%;
    color: black;
  }
  header {
    height: 200;
    width: 100%;
    margin: auto;
    background-color: #000;
    border-radius: 0.625rem;
    padding: 0.625rem 0.5rem 0.125 0.5rem;
  }
  header .spanMyMarg {
    margin: 0 0 0 20%;
  }
  header .spanFullSMarg {
    margin: -1px 0 0 25%;
  }
  header .spanToolsMarg {
    margin: 0 0 0 43%;
  }
}
/* MEDIA SCREEN */
@media only screen and (min-width: 0px) and (max-width: 450px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
  .imgRosca {
    display: none;
  }
  header {
    font-size: 18px;
    height: 120px;
    width: 100%;
    background-color: black;
    color: white;
    box-shadow: 0 0 20px 0 purple;
    animation-name: lightHeader;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    transition: 1s;
  }
  @keyframes lightHeader {
    0% {
      box-shadow: 0 0 20px 0 yellow;
      rotate: 340deg;
    }
    50% {
      box-shadow: 0 0 20px 0 orange;
      rotate: 345deg;
    }
    100% {
      box-shadow: 0 0 20px 0 blue;
      rotate: 355deg;
    }
  }
  /* HEADER IMAGEM ENGRENAGEM */
  header .toolLogoImg {
    position: absolute;
    animation-name: lightEng;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    transition: 1s;
    margin-top: 10%;
  }
  @keyframes lightEng {
    0% {
      rotate: 340deg;
      border-radius: 50%;
      margin-top: 10%;
      transition: 1s;
    }
    5% {
      margin-top: 11%;
      rotate: 330deg;
    }
    10% {
      margin-top: 10%;
      rotate: 340deg;
    }
    25% {
      margin-top: 11%;
      rotate: 343deg;
    }
    50% {
      rotate: 345deg;
      margin-top: 10%;
      transition: 1s;
    }
    60% {
      rotate: 345deg;
      margin-top: 11%;
      transition: 1s;
    }
    65% {
      margin-top: 12%;
      rotate: 380deg;
    }
    70% {
      margin-top: 12%;
    }
    72% {
      margin-top: 13%;
    }
    75% {
      margin-top: 14%;
    }
    100% {
      rotate: 355deg;
      border-radius: 50%;
      margin-top: 5%;
      transition: 1s;
      margin-top: 15%;
    }
  }
  header .spanMyMarg {
    text-align: center;
    margin: 0;
  }
  header .spanFullSMarg {
    margin: -1px 0 0 28%;
  }
  header .spanToolsMarg {
    text-align: center;
    margin: 0;
  }
}
/*ANIMAÇÃO TOOLS */
header .spanToolsMarg {
  margin: 0 0 0 20%;
  color: rgb(21, 92, 245);
  text-shadow: 0 0 10px blue;
  font-family: vampireWars;
  letter-spacing: 2px;
  animation-name: toolight;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(2) {
  animation-delay: 0.25s;
  text-shadow: 0 0 10px blue;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(3) {
  animation-delay: 0.5s;
  text-shadow: 0 0 10px blue;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(4) {
  animation-delay: 0.75s;
  text-shadow: 0 0 10px blue;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(5) {
  animation-delay: 1s;
  text-shadow: 0 0 10px blue;
}
header .spanToolsMarg header .spanToolsMarg span:nth-of-type(6) {
  animation-delay: 1.25s;
  text-shadow: 0 0 10px blue;
}
@keyframes toolight {
  0% {
    color: rgb(240, 198, 63);
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
    rotate: 0deg;
  }
  20% {
    text-shadow: none;
    text-shadow: none;
    rotate: 20deg;
  }
  40% {
    rotate: -10deg;
  }
  60% {
    rotate: 25deg;
  }
  80% {
    rotate: 10deg;
  }
  100% {
    rotate: 0deg;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1115px) {
  header .imgDoDesenvolvedor {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: 57%;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 720px) {
  header .imgDoDesenvolvedor {
    position: absolute;
    width: 88px;
    height: 88px;
    margin-top: 100px;
    margin-left: 73%;
    border-radius: 50%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 720px) {
  header .imgDoDesenvolvedor {
    position: absolute;
    width: 85px;
    height: 85px;
    margin-top: 100px;
    margin-left: 69%;
    border-radius: 50%;
  }
}
/*Header*/
section {
  max-width: 100%;
  height: 100vh;
  background-color: rgba(172, 172, 155, 0.0745098039);
  margin: 35px 0 0 0;
  border-radius: 10px;
  padding: 2%;
  border: 1x solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 100px 1px purple;
}

/* IMG Desenvolvedor*/
.imgDoDesenvolvedor {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.caixaImg {
  position: relative;
  background-image: url(../img/Wagner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixaImg::before, .caixaImg::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: linear-gradient(45deg, #FFFF00, #00FF00, #0099FF, #001AFF, #A200FF, #FF0055, #FF0000, #FFFF00, #00FF00, #0099FF, #001AFF, #A200FF);
  background-size: 300%;
  animation: animarborda 8s linear alternate infinite;
}

@keyframes animarborda {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 300%;
  }
}
.caixaImg::after {
  filter: blur(50px);
}

.caixaDevStudent {
  margin: 20px 0 0 10px;
  background-color: rgba(255, 0, 0, 0.144);
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 15px 20px 20px 20px;
  letter-spacing: 3px;
  line-height: 28px;
}

/* Dev Span*/
.caixaDevStudent .dev {
  margin-top: 20px;
  font-family: "Black Ops One", cursive;
}

.caixaDevStudent .dev span:nth-of-type(1) {
  font-size: 22px;
  animation-name: devlight;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.25s;
}
@keyframes devlight {
  0% {
    color: rgb(10, 125, 202);
    text-shadow: 0 0 12px rgb(128, 115, 0), 0 0 50px rgba(15, 11, 250, 0.534), 0 0 100px rgb(255, 239, 15);
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

.caixaDevStudent .dev span:nth-of-type(2) {
  animation-name: devlight;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}
@keyframes devlight {
  0% {
    color: rgb(53, 180, 218);
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

.caixaDevStudent .dev span:nth-of-type(3) {
  font-size: 22px;
  animation-name: devlight;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.75s;
}
@keyframes devlight {
  0% {
    color: rgb(53, 218, 196);
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

/* Cargo Span*/
.caixaDevStudent .cargo span:nth-of-type(1) {
  font-family: "Stick No Bills", sans-serif;
  font-size: 25px;
  animation-name: cargolight;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.25s;
}
@keyframes cargolight {
  0% {
    color: white;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

.caixaDevStudent .cargo span:nth-of-type(2) {
  font-family: "Literata", serif;
  animation-name: cargolight;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.25s;
}
@keyframes cargolight {
  0% {
    color: white;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

.caixaDevStudent .cargo span:nth-of-type(3) {
  font-family: "Literata", serif;
  animation-name: cargolight;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.25s;
}
@keyframes cargolight {
  0% {
    color: white;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

.caixaDevStudent .cargo span:nth-of-type(4) {
  font-family: "Literata", serif;
  animation-name: cargolight;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.25s;
}
@keyframes cargolight {
  0% {
    color: white;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

.caixaDevStudent .cargo span:nth-of-type(5) {
  font-family: "Literata", serif;
  animation-name: cargolight;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.25s;
}
@keyframes cargolight {
  0% {
    color: white;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

.caixaDevStudent .cargo span:nth-of-type(6) {
  font-family: "Literata", serif;
  animation-name: cargolight;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.25s;
}
@keyframes cargolight {
  0% {
    color: white;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

.caixaDevStudent .cargo span:nth-of-type(7) {
  font-family: "Stick No Bills", sans-serif;
  font-size: 23px;
  animation-name: cargolight;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.9s;
}
@keyframes cargolight {
  0% {
    color: white;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

/* Name Span*/
.caixaDevStudent .name span {
  font-size: 20px;
  animation-name: namelight;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

.caixaDevStudent .name span:nth-of-type(1) {
  font-family: "Stick No Bills", sans-serif;
  font-size: 25px;
  animation-name: namelight;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}
@keyframes namelight {
  0% {
    color: white;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

.caixaDevStudent .name span:nth-of-type(2) {
  font-family: "Literata", serif;
  animation-name: namelight;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}
@keyframes namelight {
  0% {
    color: white;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

.caixaDevStudent .name span:nth-of-type(3) {
  font-family: "Literata", serif;
  animation-name: namelight;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}
@keyframes namelight {
  0% {
    color: white;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

.caixaDevStudent .name span:nth-of-type(4) {
  font-family: "Literata", serif;
  animation-name: namelight;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}
@keyframes namelight {
  0% {
    color: white;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
    font-family: none;
  }
  100% {
    text-shadow: none;
  }
}

.caixaDevStudent .name span:nth-of-type(5) {
  font-family: "Literata", serif;
  animation-name: namelight;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}
@keyframes namelight {
  0% {
    color: white;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

.caixaDevStudent .name span:nth-of-type(6) {
  font-family: "Stick No Bills", sans-serif;
  font-size: 23px;
  animation-name: namelight;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}
@keyframes namelight {
  0% {
    color: white;
    text-shadow: 0 0 12px purple, 0 0 50px purple, 0 0 100px purple;
  }
  10% {
    text-shadow: none;
  }
  100% {
    text-shadow: none;
  }
}

.caixaMyTools1 {
  display: flex;
  float: left;
}

.titulocontentMyTools {
  margin-left: 50%;
}

section a {
  color: orange;
  text-decoration: none;
}

section ul {
  color: lightskyblue;
  list-style-type: none;
}/*# sourceMappingURL=index.css.map */